<div data-ng-controller="ExchangeUpdateAccountCtrl as ctrl">
    <div data-wizard
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="updateExchangeAccount"
         data-wizard-title="i18n.exchange_ACTION_update_account_title">
        <div data-wizard-step
             data-wizard-step-valid="needsUpdate()"
             data-wizard-step-on-load="loadAccountOptions">

            <div class="loader text-center" data-ng-if="!ctrl.newAccountOptions"></div>

            <div class="alert alert-warning my-4"
                 role="alert"
                 data-ng-class="alertType"
                 data-ng-if="ctrl.noDomainMessage">
                <div>
                    <span class="fa fa-times pull-right" data-ng-click="resetAction()"></span>
                    <span data-ng-bind-html="ctrl.noDomainMessage"></span>
                </div>
            </div>

            <form class="mt-4" name="ctrl.updateAccountForm" data-ng-if="!ctrl.noDomainMessage">
                <div class="form-group" data-ng-class="{'has-error': ctrl.updateAccountForm.selectedAccountAddress.$dirty && (ctrl.updateAccountForm.selectedAccountAddress.$invalid || ctrl.takenEmailError)}">
                    <label class="control-label required"
                           for="selectedAccountAddress"
                           data-i18n-static="exchange_ACTION_add_account_step1_email_label"></label>
                    <div class="input-group">
                        <input type="text"
                               class="form-control"
                               id="selectedAccountAddress"
                               name="selectedAccountAddress"
                               required
                               maxlength="256"
                               data-ng-change="ctrl.checkTakenEmails()"
                               data-ng-disabled="!ctrl.canChangePrimary()"
                               data-ng-model="ctrl.selectedAccount.login"
                               data-ng-pattern="/^[-_a-zA-Z0-9]+((\.|\+)[-_a-zA-Z0-9]+)*$/">
                        <span class="input-group-addon">@</span>
                        <select class="form-control"
                                required
                                data-ng-change="ctrl.checkTakenEmails()"
                                data-ng-disabled="!ctrl.canChangePrimary()"
                                data-ng-model="ctrl.selectedAccount.completeDomain"
                                data-ng-options="domain.displayName for domain in (ctrl.newAccountOptions.availableDomains | orderBy:'formattedName') track by domain.name"></select>
                    </div>
                    <small class="help-block"
                           data-i18n-static="exchange_tab_ALIAS_taken_error_message"
                           data-ng-if="ctrl.takenEmailError"></small>
                </div>
                <div class="form-horizontal">
                    <div class="form-group" data-ng-if="!ctrl.selectedAccount.is25g && ctrl.newAccountOptions.availableTypes.length > 1">
                        <label class="control-label col-md-4 required"
                               for="selectedAccountType"
                               data-i18n-static="exchange_ACTION_update_account_step1_type_label"></label>
                        <div class="col-md-6">
                            <select class="form-control"
                                    name="selectedAccountType"
                                    id="selectedAccountType"
                                    required
                                    data-ng-model="ctrl.selectedAccount.accountLicense"
                                    data-ng-options="tr('exchange_ACTION_update_account_step1_type_' + type) for type in ctrl.newAccountOptions.availableTypes track by type"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4" for="selectedAccountFirstName"
                               data-i18n-static="exchange_ACTION_update_account_step1_first_name_label"></label>
                        <div class="col-md-6">
                            <input type="text"
                                   class="form-control"
                                   name="selectedAccountFirstName"
                                   id="selectedAccountFirstName"
                                   data-ng-change="ctrl.selectedAccount.displayName = ctrl.selectedAccount.firstName + ' ' + ctrl.selectedAccount.lastName"
                                   maxlength="256"
                                   data-ng-model="ctrl.selectedAccount.firstName">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4"
                               for="selectedAccountLastName"
                               data-i18n-static="exchange_ACTION_update_account_step1_last_name_label"></label>
                        <div class="col-md-6">
                            <input type="text"
                                   class="form-control"
                                   name="selectedAccountLastName"
                                   id="selectedAccountLastName"
                                   data-ng-change="ctrl.selectedAccount.displayName = ctrl.selectedAccount.firstName + ' ' + ctrl.selectedAccount.lastName"
                                   maxlength="256"
                                   data-ng-model="ctrl.selectedAccount.lastName">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4" for="selectedAccountDisplayName"
                               data-i18n-static="exchange_ACTION_update_account_step1_display_name_label"></label>
                        <div class="col-md-6">
                            <input type="text"
                                   class="form-control"
                                   name="selectedAccountDisplayName"
                                   id="selectedAccountDisplayName"
                                   maxlength="256"
                                   data-ng-change="ctrl.setPasswordsFlag(ctrl.selectedAccount)"
                                   data-ng-model="ctrl.selectedAccount.displayName">
                        </div>
                    </div>

                    <div class="form-group"
                         data-ng-class="{'has-error': ctrl.simplePasswordFlag || ctrl.containsNameFlag || ctrl.containsSamAccountNameFlag || ctrl.containsWhitespaces}">
                        <label class="control-label col-md-4" for="selectedAccountPassword"
                               data-i18n-static="exchange_ACTION_update_account_step1_password_label"
                               data-ng-class="{'required': !ctrl.selectedAccount.canBeConfigured}"></label>
                        <div class="col-md-6">
                            <input type="password" class="form-control" name="selectedAccountPassword" id="selectedAccountPassword" placeholder="{{ctrl.getPasswordPlaceholder()}}"
                                   data-ng-change="ctrl.setPasswordsFlag(ctrl.selectedAccount)"
                                   data-ng-model="ctrl.selectedAccount.password"
                                   data-ng-required="!ctrl.selectedAccount.canBeConfigured"
                                   data-uib-tooltip="{{ctrl.passwordTooltip}}">
                            <small class="help-block"
                                   data-i18n-static="exchange_ACTION_update_account_step1_password_weak"
                                   data-ng-if="ctrl.simplePasswordFlag"></small>
                            <small class="help-block"
                                   data-i18n-static="exchange_ACTION_update_account_step1_password_contains_name"
                                   data-ng-if="ctrl.containsNameFlag"></small>
                            <small class="help-block"
                                   data-ng-bind="ctrl.containsSamAccountNameLabel"
                                   data-ng-if="ctrl.containsSamAccountNameFlag"></small>
                            <small class="help-block"
                                   data-i18n-static="exchange_ACTION_update_account_step1_password_whitespace"
                                   data-ng-if="ctrl.containsWhitespaces"></small>
                        </div>
                    </div>

                    <div class="form-group" data-ng-class="{'has-error': ctrl.selectedAccount.passwordConfirmation && ctrl.differentPasswordFlag}">
                        <label class="control-label col-md-4"
                               for="selectedAccountPasswordConfirmation"
                               data-i18n-static="exchange_ACTION_update_account_step1_password_confirmation_label"
                               data-ng-class="{'required': !ctrl.selectedAccount.canBeConfigured}"></label>
                        <div class="col-md-6">
                            <input type="password"
                                   class="form-control"
                                   name="selectedAccountPasswordConfirmation"
                                   id="selectedAccountPasswordConfirmation"
                                   placeholder="{{ctrl.getPasswordPlaceholder()}}"
                                   data-ng-change="ctrl.setPasswordsFlag(ctrl.selectedAccount)"
                                   data-ng-model="ctrl.selectedAccount.passwordConfirmation"
                                   data-uib-tooltip="{{ctrl.passwordTooltip}}">
                            <small class="help-block"
                                   data-i18n-static="exchange_ACTION_update_account_step1_password_different"
                                   data-ng-if="ctrl.selectedAccount.passwordConfirmation && ctrl.differentPasswordFlag"></small>
                        </div>
                    </div>

                    <div class="alert alert-warning mb-4"
                         role="alert"
                         data-i18n-static="exchange_ACTION_update_account_shared_password_warning"
                         data-ng-if="ctrl.shouldDisplaySharepointPasswordWarning()"></div>

                    <div class="form-group" data-ng-if="!ctrl.selectedAccount.is25g && ctrl.newAccountOptions && ctrl.services.accountTypes.isProvider()">
                        <label class="control-label col-md-4"
                               for="selectedAccountQuota"
                               data-i18n-static="exchange_ACTION_update_account_step1_quota_label"></label>
                        <div class="col-md-4 text-nowrap">
                            <select class="form-control d-inline-block w-75"
                                    name="selectedAccountQuota"
                                    id="selectedAccountQuota"
                                    required
                                    data-ng-model="ctrl.selectedAccount.quota"
                                    data-ng-options="quota for quota in ctrl.newAccountOptions.quotaArray track by quota">
                                <option data-ng-bind="ctrl.quota" value="quota"></option>
                            </select>
                            <span class="d-inline-block form-control-static ml-2" data-i18n-static="unit_size_GB"></span>
                        </div>
                    </div>

                    <div class="row mb-4" data-ng-if="!ctrl.selectedAccount.is25g && ctrl.selectedAccount.canBeConfigured">
                        <div class="checkbox col-md-8 col-md-offset-4">
                            <label>
                                <input type="checkbox"
                                       name="selectedAccountHiddenFromGAL"
                                       data-ng-model="ctrl.selectedAccount.hiddenFromGAL">
                                <span data-i18n-static="exchange_ACTION_update_account_step1_GAL_label"></span>
                            </label>
                        </div>
                    </div>

                    <div class="form-group" data-ng-if="!ctrl.selectedAccount.is25g">
                        <label class="control-label col-md-4" data-i18n-static="exchange_ACTION_update_account_step1_outlook_label"></label>
                        <div class="col-md-8">
                            <div class="form-control-static">
                                <span data-ng-bind="tr('exchange_ACTION_add_account_outlook_' + ctrl.selectedAccount.outlook)"></span>
                                <span data-i18n-static="exchange_ACTION_update_account_step1_outlookdel_label" data-ng-if="selectedAccount.outlook && selectedAccount.deleteOutlook"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" data-ng-if="ctrl.selectedAccount.exchangeGuid != null">
                        <label class="control-label col-md-4" data-i18n-static="exchange_ACTION_update_account_step1_exchange_guid_label"></label>
                        <div class="col-md-8">
                            <div class="form-control-static" data-ng-bind="ctrl.selectedAccount.exchangeGuid"></div>
                        </div>
                    </div>

                    <div class="form-group"
                         data-ng-if="ctrl.services.exchangeVersion.isVersion(2010) && !ctrl.service.accountTypes.isHosted()">
                        <label class="control-label col-md-4" data-i18n-static="exchange_ACTION_update_account_step1_exchange_SAMA_label"></label>
                        <div class="col-md-8">
                            <div class="form-control-static"
                                 data-ng-bind="ctrl.selectedAccount.samaccountName"
                                 data-ng-if="ctrl.selectedAccount.samaccountName"></div>
                        </div>
                    </div>
                </div>
            </form>

            <div data-wizard-step-help>
                <h3 data-i18n-static="exchange_ACTION_update_account_helpwizard_title"></h3>
                <p data-ng-bind-html="tr('exchange_ACTION_update_account_helpwizard_intro')"></p>
                <h4 data-i18n-static="exchange_ACTION_update_account_helpwizard_password_title"></h4>
                <p data-ng-bind-html="tr('exchange_ACTION_update_account_helpwizard_password', [ctrl.newAccountOptions.minPasswordLength])"
                   data-ng-show="ctrl.newAccountOptions.passwordComplexityEnabled"></p>
                <p data-ng-bind-html="tr('exchange_ACTION_update_account_helpwizard_password_simple', [ctrl.newAccountOptions.minPasswordLength])"
                   data-ng-show="!ctrl.newAccountOptions.passwordComplexityEnabled"></p>
                <div data-ng-show="!ctrl.selectedAccount.is25g && ctrl.selectedAccount.canBeConfigured">
                    <h4 data-i18n-static="exchange_ACTION_update_account_helpwizard_hide_directory_title"></h4>
                    <p data-ng-bind-html="tr('exchange_ACTION_update_account_helpwizard_hide_directory')"></p>
                </div>
                <h4 data-i18n-static="exchange_ACTION_update_account_helpwizard_guid_title"></h4>
                <p data-ng-bind-html="tr('exchange_ACTION_update_account_helpwizard_guid')"></p>
            </div>
        </div>

        <div data-wizard-step>
            <p data-i18n-static="exchange_ACTION_update_account_step2_confirmation_intro"></p>
            <dl class="dl-horizontal dl-lg">
                <dt data-i18n-static="exchange_ACTION_update_account_step2_email_label"></dt>
                <dd data-ng-bind="ctrl.selectedAccount.login + '@' + ctrl.selectedAccount.completeDomain.displayName | sliceContent: 150" class="word-break"></dd>

                <dt data-ng-if="ctrl.newAccountOptions.availableTypes.length > 1" data-i18n-static="exchange_ACTION_update_account_step1_type_label"></dt>
                <dd data-ng-if="ctrl.newAccountOptions.availableTypes.length > 1" data-ng-bind="tr('exchange_ACTION_update_account_step1_type_' + ctrl.selectedAccount.accountLicense)"></dd>

                <dt data-ng-if="ctrl.selectedAccount.firstName" data-i18n-static="exchange_ACTION_update_account_step2_first_name_label"></dt>
                <dd data-ng-if="ctrl.selectedAccount.firstName" data-ng-bind="ctrl.selectedAccount.firstName | sliceContent: 150" class="word-break"></dd>

                <dt data-ng-if="ctrl.selectedAccount.lastName" data-i18n-static="exchange_ACTION_update_account_step2_last_name_label"></dt>
                <dd data-ng-if="ctrl.selectedAccount.lastName" data-ng-bind="ctrl.selectedAccount.lastName | sliceContent: 150" class="word-break"></dd>

                <dt data-ng-if="ctrl.selectedAccount.displayName" data-i18n-static="exchange_ACTION_update_account_step2_display_name_label"></dt>
                <dd data-ng-if="ctrl.selectedAccount.displayName" data-ng-bind="ctrl.selectedAccount.displayName | sliceContent: 150" class="word-break"></dd>

                <dt data-ng-if="ctrl.selectedAccount.password" data-i18n-static="exchange_ACTION_update_account_step2_password_label"></dt>
                <dd data-ng-if="ctrl.selectedAccount.password">
                    <span data-ng-repeat="x in ctrl.selectedAccount.password track by $index">*</span>
                </dd>

                <dt data-ng-if="!ctrl.selectedAccount.is25g && ctrl.services.accountTypes.isProvider()" data-i18n-static="exchange_ACTION_update_account_step1_quota_label"></dt>
                <dd data-ng-if="!ctrl.selectedAccount.is25g && ctrl.services.accountTypes.isProvider()" data-ng-bind="ctrl.selectedAccount.quota + ' ' + tr('unit_size_GB')"></dd>

                <dt data-ng-if="!ctrl.selectedAccount.is25g" data-i18n-static="exchange_ACTION_update_account_step2_outlook_label"></dt>
                <dd data-ng-if="!ctrl.selectedAccount.is25g" data-ng-bind="tr('exchange_ACTION_update_account_outlook_' + ctrl.selectedAccount.outlook)"></dd>
                
                <dt data-ng-if="!ctrl.selectedAccount.is25g" data-i18n-static="exchange_ACTION_update_account_step2_GAL_label"></dt>
                <dd data-ng-if="!ctrl.selectedAccount.is25g" data-ng-bind="tr('exchange_ACTION_update_account_GAL_' + ctrl.selectedAccount.hiddenFromGAL)"></dd>
            </dl>
        </div>
    </div>
</div>
