{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jquery": true
  },
  "globals": {
    "_": true,
    "angular": true,
    "Clipboard": true,
    "JSURL": true,
    "module": true,
    "punycode": true,
    "require": true,
    "URI": true
  }
}
