<div data-ng-controller="ExchangeAddGroupCtrl as ctrl">
    <div data-wizard
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="addExchangeGroup"
         data-wizard-title="i18n.exchange_GROUPS_add_group_title">

        <div data-wizard-step
             data-wizard-step-on-load="retrievingOptionsToCreateNewGroup"
             data-wizard-step-valid="groupIsValid()">

            <oui-loader data-ng-if="!ctrl.optionsToCreateANewGroup"></oui-loader>

            <form name="ctrl.addGroupForm" data-ng-if="ctrl.optionsToCreateANewGroup">
                <p>
                    <small class="text-danger">*</small>
                    <small data-i18n-static="required_fields"></small>
                </p>

                <div class="form-group"
                     data-ng-class="{'has-error': ctrl.addGroupForm.groupToAddAddress.$dirty && (ctrl.addGroupForm.groupToAddAddress.$invalid || ctrl.takenEmailError)}">
                    <label class="control-label required" for="groupToAddAddress"
                           data-i18n-static="exchange_GROUPS_add_group_email_label"></label>
                    <div class="input-group">
                        <input type="text"
                               class="form-control"
                               name="groupToAddAddress"
                               id="groupToAddAddress"
                               required
                               maxlength="256"
                               data-ng-change="ctrl.checkTakenEmails()"
                               data-ng-model="ctrl.groupToAdd.address"
                               data-ng-pattern="/^[-_a-zA-Z0-9]+((\.|\+)[-_a-zA-Z0-9]+)*$/">
                        <span class="input-group-addon">@</span>
                        <select class="form-control" required
                                data-ng-change="ctrl.checkTakenEmails()"
                                data-ng-disabled="ctrl.optionsToCreateANewGroup == null"
                                data-ng-model="ctrl.groupToAdd.completeDomain"
                                data-ng-options="domain.displayName for domain in ctrl.optionsToCreateANewGroup.availableDomains | orderBy:'formattedName'">
                        </select>
                    </div>
                    <small class="help-block"
                           data-i18n-static="exchange_tab_ALIAS_taken_error_message"
                           data-ng-if="ctrl.takenEmailError"></small>
                </div>


                <div class="form-group">
                    <label class="control-label" for="displayName"
                           data-i18n-static="exchange_GROUPS_add_group_name_label"></label>
                    <input type="text" class="form-control" maxlength="256" name="groupToAddDisplayName" id="displayName"
                           data-ng-model="ctrl.groupToAdd.displayName">
                </div>

                <div class="form-group">
                    <label class="control-label" for="maxInSize"
                           data-i18n-static="exchange_GROUPS_add_group_receive_size_label"></label>
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" id="maxInSize" name="maxInSize"
                               data-ng-disabled="ctrl.groupToAdd.receiveSizeUnlimited"
                               data-ng-min="0" min="0"
                               data-ng-max="100" max="100"
                               data-ng-model="ctrl.groupToAdd.maxReceiveSize"
                               data-uib-tooltip="{{i18n.exchange_GROUPS_add_group_receive_size_tooltip}}">
                        <span class="input-group-addon" data-i18n-static="unit_size_MB"></span>
                    </div>

                    <div class="oui-checkbox">
                        <input type="checkbox" class="oui-checkbox__input" id="receiveSizeUnlimited"
                               data-ng-change="ctrl.onReceiveSizeChange()"
                               data-ng-model="ctrl.groupToAdd.receiveSizeUnlimited">
                        <label class="oui-checkbox__label-container" for="receiveSizeUnlimited">
                            <span class="oui-checkbox__label"
                                  data-i18n-static="exchange_GROUPS_add_group_size_unlimited"></span>
                            <span class="oui-checkbox__icon">
                                <span class="oui-icon oui-icon-checkbox-unchecked" aria-hidden="true"></span>
                                <span class="oui-icon oui-icon-checkbox-checked" aria-hidden="true"></span>
                                <span class="oui-icon oui-icon-checkbox-checkmark" aria-hidden="true"></span>
                            </span>
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="maxOutSize"
                           data-i18n-static="exchange_GROUPS_add_group_sent_size_label"></label>
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" id="maxOutSize" name="maxOutSize"
                               data-ng-disabled="ctrl.groupToAdd.sentSizeUnlimited"
                               data-ng-min="0" min="0"
                               data-ng-max="100" max="100"
                               data-ng-model="ctrl.groupToAdd.maxSendSize"
                               data-uib-tooltip="{{i18n.exchange_GROUPS_add_group_sent_size_tooltip}}">
                        <span class="input-group-addon" data-i18n-static="unit_size_MB"></span>
                    </div>

                    <div class="oui-checkbox">
                        <input type="checkbox" class="oui-checkbox__input" id="sentSizeUnlimited"
                               data-ng-change="ctrl.onSentSizeChange()"
                               data-ng-model="ctrl.groupToAdd.sentSizeUnlimited">
                        <label class="oui-checkbox__label-container" for="sentSizeUnlimited">
                            <span class="oui-checkbox__label"
                                  data-i18n-static="exchange_GROUPS_add_group_size_unlimited"></span>
                            <span class="oui-checkbox__icon">
                                <span class="oui-icon oui-icon-checkbox-unchecked" aria-hidden="true"></span>
                                <span class="oui-icon oui-icon-checkbox-checked" aria-hidden="true"></span>
                                <span class="oui-icon oui-icon-checkbox-checkmark" aria-hidden="true"></span>
                            </span>
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="subscription"
                           data-i18n-static="exchange_GROUPS_add_group_subscribe_label"></label>
                    <div class="oui-select">
                        <select class="oui-select__input" id="subscription" name="groupToAddSubscribeRestriction" required
                                data-ng-disabled="ctrl.optionsToCreateANewGroup == null"
                                data-ng-model="trl.groupToAdd.subscribeRestriction"
                                data-ng-options="tr('exchange_GROUPS_add_group_retriction_' + restriction) for restriction in ctrl.optionsToCreateANewGroup.availableJoinRestrictions">
                            <option value="" disabled
                                    data-i18n-static="select_placeholder"></option>
                        </select>
                        <span class="oui-icon oui-icon-chevron-down" aria-hidden="true"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="restriction"
                           data-i18n-static="exchange_GROUPS_add_group_unsubscribe_label"></label>
                    <div class="oui-select">
                        <select class="oui-select__input" id="restriction" name="groupToAddUnsubscribeRestriction" required
                                data-ng-disabled="ctrl.optionsToCreateANewGroup == null"
                                data-ng-model="ctrl.groupToAdd.unsubscribeRestriction"
                                data-ng-options="tr('exchange_GROUPS_add_group_retriction_' + restriction) for restriction in ctrl.optionsToCreateANewGroup.availableDepartRestrictions">
                        </select>
                        <span class="oui-icon oui-icon-chevron-down" aria-hidden="true"></span>
                    </div>
                </div>

                <div class="oui-checkbox">
                    <input type="checkbox" class="oui-checkbox__input" id="hiddenFromGAL"
                           data-ng-model="ctrl.groupToAdd.hiddenFromGAL">
                    <label class="oui-checkbox__label-container" for="hiddenFromGAL">
                        <span class="oui-checkbox__label"
                              data-i18n-static="exchange_GROUPS_add_group_hide_label"></span>
                        <span class="oui-checkbox__icon">
                            <span class="oui-icon oui-icon-checkbox-unchecked" aria-hidden="true"></span>
                            <span class="oui-icon oui-icon-checkbox-checked" aria-hidden="true"></span>
                            <span class="oui-icon oui-icon-checkbox-checkmark" aria-hidden="true"></span>
                        </span>
                    </label>
                </div>

                <div class="oui-checkbox">
                    <input type="checkbox" class="oui-checkbox__input" id="senderAuthentification"
                           data-ng-model="ctrl.groupToAdd.auth">
                    <label class="oui-checkbox__label-container" for="senderAuthentification">
                        <span class="oui-checkbox__label"
                              data-i18n-static="exchange_GROUPS_add_group_auth_label"></span>
                        <span class="oui-checkbox__icon">
                            <span class="oui-icon oui-icon-checkbox-unchecked" aria-hidden="true"></span>
                            <span class="oui-icon oui-icon-checkbox-checked" aria-hidden="true"></span>
                            <span class="oui-icon oui-icon-checkbox-checkmark" aria-hidden="true"></span>
                        </span>
                    </label>
                </div>
            </form>

            <div data-wizard-step-help>
                <h3 data-i18n-static="exchange_GROUPS_add_group_title"></h3>
                <p data-ng-bind-html="tr('exchange_GROUPS_add_group_help_intro')"></p>
                <h4 data-i18n-static="exchange_GROUPS_add_group_help_size_header"></h4>
                <p data-ng-bind-html="tr('exchange_GROUPS_add_group_help_size_text')"></p>
                <h4 data-i18n-static="exchange_GROUPS_add_group_help_subscription_header"></h4>
                <p data-ng-bind-html="tr('exchange_GROUPS_add_group_help_subscription_text')"></p>
                <h4 data-i18n-static="exchange_GROUPS_add_group_help_directory_header"></h4>
                <p data-ng-bind-html="tr('exchange_GROUPS_add_group_help_directory_text')"></p>
                <h4 data-i18n-static="exchange_GROUPS_add_group_help_security_header"></h4>
                <p data-ng-bind-html="tr('exchange_GROUPS_add_group_help_security_text')"></p>
            </div>
        </div>


        <div data-wizard-step
             data-wizard-step-on-load="getAccounts">

            <p data-ng-bind-html="tr('exchange_GROUPS_add_group_step2_intro')"></p>

            <form class="form-inline d-md-flex justify-content-md-end mb-3">
                <div class="form-group">
                    <label class="sr-only" for="groupSearch"
                           data-i18n-static="common_search"></label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="groupSearch" maxlength="256" placeholder="{{i18n.exchange_tab_ACCOUNTS_table_email}}"
                               data-ng-change="ctrl.onSearchValueChange()"
                               data-ng-disabled="ctrl.loading"
                               data-ng-model="ctrl.search.value">
                        <div class="input-group-btn" data-ng-if="ctrl.search.value">
                            <button class="btn btn-default" type="button" aria-label="{{i18n.exchange_reset_search_value}}"
                                    data-ng-click="ctrl.resetSearch()"
                                    data-ng-disabled="ctrl.loading">
                                <span class="fa fa-times" aria-hidden="true"></span>
                            </button>
                        </div>
                        <span class="input-group-addon" data-ng-if="!ctrl.search.value">
                            <span class="fa fa-search" aria-hidden="true"></span>
                        </span>
                    </div>
                </div>
            </form>

            <div class="alert alert-warning" role="alert"
                 data-ng-if="!ctrl.loading && ctrl.accountsList != null && ctrl.accountsList.list.messages.length > 0">
                <div>
                    <strong data-i18n-static="exchange_tab_ACCOUNTS_warning"></strong>
                    <span data-i18n-static="exchange_tab_ACCOUNTS_partial"></span>
                </div>
            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col" data-i18n-static="exchange_GROUPS_delegation_step1_email_header"></th>
                        <th class="min-width" scope="col" data-i18n-static="exchange_tab_GROUPS_all_table_manager"></th>
                        <th class="min-width" scope="col" data-i18n-static="exchange_tab_GROUPS_all_table_user"></th>
                    </tr>
                </thead>

                <tbody data-ng-if="ctrl.loading">
                    <tr>
                        <td class="loader text-center" colspan="3"></td>
                    </tr>
                </tbody>

                <tbody data-ng-if="!ctrl.loading && ctrl.accountsList.list.results.length === 0 && ctrl.accountsList.list.messages.length === 0">
                    <tr>
                        <td class="text-center" colspan="3">
                            <span data-i18n-static="exchange_tab_GROUPS_table_empty"
                                  data-ng-if="!ctrl.search.value"></span>
                            <span data-i18n-static="exchange_tab_GROUPS_table_empty_search"
                                  data-ng-if="ctrl.search.value"></span>
                        </td>
                    </tr>
                </tbody>

                <tbody data-ng-if="!ctrl.loading && (ctrl.accountsList.list.results.length > 0 || ctrl.accountsList.list.messages.length > 0)">
                    <tr data-ng-repeat="account in (ctrl.accountsList.list.results| orderBy:'formattedName':false) track by $index">
                        <td class="word-break"
                            data-ng-bind="account.displayName"></td>
                        <td class="text-center">
                            <label data-ng-if="account.type === 'ACCOUNT'">
                                <input type="checkbox"
                                       data-ng-model="account.manager">
                            </label>

                            <div data-uib-tooltip="{{i18n.exchange_GROUPS_add_group_contact_as_manager_info}}"
                                 data-ng-if="account.type === 'CONTACT'">
                                <label>
                                    <input type="checkbox" disabled>
                                </label>
                            </div>
                        </td>
                        <td class="text-center">
                            <label>
                                <input type="checkbox"
                                       data-ng-model="account.member">
                            </label>
                        </td>
                    </tr>

                    <tr data-ng-repeat="account in ctrl.accountsList.list.messages | orderBy:'id': false track by $index">
                        <td colspan="3" data-uib-tooltip="{{i18n.exchange_tab_ACCOUNTS_partial_account}}">
                            <span class="fa fa-exclamation-triangle mr-2" aria-hidden="true"></span>
                            <span data-ng-bind="account.id"></span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="clearfix"
                 data-pagination-server-side="accountsByGroupTable"
                 data-pagination-server-side-function="getAccounts"
                 data-pagination-server-side-paginated-stuff="getAccountList()"
                 data-pagination-server-side-table-loading="getLoading()">
            </div>

            <div class="alert alert-info mt-5" role="alert"
                 data-i18n-static="exchange_GROUPS_add_group_contact_as_manager_info"></div>
        </div>

        <div data-wizard-step>
            <dl class="dl-horizontal dl-lg">
                <dt data-i18n-static="exchange_GROUPS_add_group_email_label"></dt>
                <dd class="word-break"
                    data-ng-bind-template="{{ctrl.groupToAdd.address}}@{{ctrl.groupToAdd.completeDomain.displayName}}"></dd>

                <dt data-ng-if="ctrl.groupToAdd.displayName"
                    data-i18n-static="exchange_GROUPS_add_group_name_label"></dt>
                <dd class="word-break"
                    data-ng-if="ctrl.groupToAdd.displayName"
                    data-ng-bind="ctrl.groupToAdd.displayName | sliceContent: 150"></dd>

                <dt data-i18n-static="exchange_GROUPS_add_group_receive_size_label"></dt>
                <dd>
                    <span data-ng-if="!ctrl.groupToAdd.receiveSizeUnlimited"
                          data-ng-bind="ctrl.groupToAdd.maxReceiveSize"></span>
                    <span data-ng-if="ctrl.groupToAdd.receiveSizeUnlimited"
                          data-i18n-static="exchange_GROUPS_add_group_size_unlimited"></span>
                </dd>

                <dt data-i18n-static="exchange_GROUPS_add_group_sent_size_label"></dt>
                <dd>
                    <span data-ng-if="!ctrl.groupToAdd.sentSizeUnlimited"
                          data-ng-bind="ctrl.groupToAdd.maxSendSize"></span>
                    <span data-ng-if="ctrl.groupToAdd.sentSizeUnlimited"
                          data-i18n-static="exchange_GROUPS_add_group_size_unlimited"></span>
                </dd>

                <dt data-i18n-static="exchange_GROUPS_add_group_subscribe_label"></dt>
                <dd data-ng-bind="tr('exchange_GROUPS_add_group_retriction_' + ctrl.groupToAdd.subscribeRestriction)"></dd>

                <dt data-i18n-static="exchange_GROUPS_add_group_unsubscribe_label"></dt>
                <dd data-ng-bind="tr('exchange_GROUPS_add_group_retriction_' + ctrl.groupToAdd.unsubscribeRestriction)"></dd>

                <dt data-i18n-static="exchange_GROUPS_add_group_hide_label"></dt>
                <dd data-ng-bind="tr('exchange_ACTION_add_account_GAL_' + ctrl.groupToAdd.hiddenFromGAL)"></dd>

                <dt data-i18n-static="exchange_GROUPS_add_group_confirmation_auth_label"></dt>
                <dd data-ng-bind="tr('exchange_GROUPS_add_group_auth_' + ctrl.groupToAdd.auth)"></dd>
            </dl>
        </div>
    </div>
</div>
