<div
    data-ng-if="$ctrl.initialLoading"
    class="text-center">
    <oui-spinner></oui-spinner>
</div>

<div
    data-ng-if="!$ctrl.initialLoading"
    class="row">
    <div class="col-md-9">
        <p class="text-nowrap">
            <strong data-ng-bind=":: 'exchange_tab_INFORMATIONS_webmail' | translate"></strong>
            <a
                target="_blank"
                data-ng-href="https://{{:: $ctrl.hostname }}"
                rel="noopener">
                <span data-ng-bind=":: 'https://' + $ctrl.hostname"></span>
                <span class="fa fa-external-link" aria-hidden="true"></span>
                <span class="sr-only" data-ng-bind=":: 'exchange_common_new_tab' | translate"></span>
            </a>
        </p>

        <div
            class="alert alert-warning"
            role="alert"
            data-ng-if="!$ctrl.loading && $ctrl.accounts && $ctrl.accounts.list.messages.length > 0">
            <div>
                <strong data-ng-bind=":: 'exchange_tab_ACCOUNTS_warning' | translate"></strong>
                <span data-ng-bind=":: 'exchange_tab_ACCOUNTS_partial' | translate"></span>
            </div>
        </div>

        <oui-datagrid data-rows-loader="$ctrl.fetchAccounts($config)">
            <oui-column
                data-title=":: 'exchange_tab_ACCOUNTS_table_email' | translate"
                data-property="emailAddress"
                data-type="string"
                data-type-options="{
                    operators: [
                        'contains'
                    ]
                }"
                data-searchable
                data-filterable
                data-sortable="asc"></oui-column>
            <oui-column
                data-title=":: 'exchange_tab_ACCOUNTS_table_type' | translate"
                data-property="accountLicense"
                data-type="options"
                data-type-options="$ctrl.accountTypeColumnOptions"
                data-filterable
                data-sortable>
                <span data-ng-bind=":: $ctrl.exchangeAccountTypes.getDisplayValue($value)"></span>
            </oui-column>
            <oui-column
                data-title=":: 'exchange_tab_ACCOUNTS_table_size' | translate"
                data-property="size">
                <div
                    class="oui-progress m-0"
                    data-ng-class=":: {
                       'oui-progress_success': $value.usage < 51,
                       'oui-progress_warning': $value.usage > 50 && $value.usage < 81,
                       'oui-progress_error': $value.usage > 80
                   }">
                    <div
                        class="oui-progress__bar oui-progress__bar_text-left"
                        role="progressbar"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        aria-valuenow="{{:: $value.usage }}"
                        data-ng-class=":: {
                            'oui-progress__bar_success': $value.usage < 51,
                            'oui-progress__bar_warning': $value.usage > 50 && $value.usage < 81,
                            'oui-progress__bar_error': $value.usage > 80
                        }"
                        data-ng-style=":: {'width': $value.usage + '%'}">
                        <span
                            class="oui-progress__label"
                            data-ng-bind=":: $value.progressionText"></span>
                    </div>
                </div>
            </oui-column>
            <oui-column
                data-title=":: 'exchange_tab_ACCOUNTS_table_alias' | translate"
                data-property="numberOfAliases"
                data-type="number"
                data-sortable></oui-column>
            <oui-column
                data-title=":: 'exchange_tab_ACCOUNTS_table_outlook' | translate"
                data-property="outlookStatus"
                data-type="string">
                <span data-ng-bind="$value.displayValue"></span>
            </oui-column>
            <oui-column
                data-title=":: 'exchange_tab_ACCOUNTS_table_status' | translate"
                data-property="status"
                data-type="string">
            </oui-column>
            <oui-action-menu data-compact>
                <oui-action-menu-item
                    data-on-click="$ctrl.displayDialog('exchange/account/update/account-update', $row)"
                    data-disabled="!$ctrl.exchangeAccount.isEditable($row) || !$ctrl.atLeastOneDomainIsAssociatedToCurrentExchangeService">
                    <span data-translate="exchange_tab_ACCOUNTS_menu_edit"></span>
                </oui-action-menu-item>
                <oui-action-menu-item
                    data-on-click="$ctrl.displayAliasManagementView($row)"
                    data-disabled="!$ctrl.exchangeStates.constructor.isOk($row) || $ctrl.exchangeAccount.isPlaceholder($row)">
                    <span data-translate="exchange_tab_ACCOUNTS_menu_alias"></span>
                </oui-action-menu-item>
                <oui-action-menu-item
                    data-on-click="$ctrl.displayDialog('exchange/account/delegation/account-delegation', $row)"
                    data-disabled="!$ctrl.exchangeStates.constructor.isOk($row) || $ctrl.exchangeAccount.isPlaceholder($row)">
                    <span data-translate="exchange_tab_ACCOUNTS_menu_delegations"></span>
                </oui-action-menu-item>
                <oui-action-menu-item
                    data-on-click="$ctrl.displayDialog('exchange/account/export-as-pst/account-export-as-pst', $row)"
                    data-disabled="!$ctrl.exchangeStates.constructor.isOk($row) || $ctrl.exchangeAccount.isPlaceholder($row)">
                    <span data-translate="exchange_tab_ACCOUNTS_menu_exportToPST"></span>
                </oui-action-menu-item>
                <oui-action-menu-item
                    data-on-click="$ctrl.displayDialog('exchange/account/upgrade-300g-legacy/account-upgrade-300g-legacy', $row)"
                    data-ng-if="$ctrl.exchangeSelectedService.canUpgradeTo300Gb() && !$ctrl.serviceUsesAgora"
                    data-disabled="!$ctrl.exchangeStates.constructor.isOk($row) || $ctrl.exchangeAccount.isPlaceholder($row)">
                    <span
                        data-translate="exchange_tab_ACCOUNTS_menu_upgradeTo300Gb"
                        data-translate-values="{ t0: ('unit_size_GiB'|translate) }"></span>
                </oui-action-menu-item>
                <oui-action-menu-item
                    data-on-click="$ctrl.displayDialog('exchange/account/order-upgrade/exchange-account-order-upgrade', $row)"
                    data-ng-if="$ctrl.exchangeSelectedService.canUpgradeTo300Gb() && $ctrl.serviceUsesAgora"
                    data-disabled="!$ctrl.exchangeStates.constructor.isOk($row) || $ctrl.exchangeAccount.isPlaceholder($row)">
                    <span
                        data-translate="exchange_accounts_home_item_orderUpgrade"
                        data-translate-values="{ t0: ('unit_size_GiB' | translate) }"></span>
                </oui-action-menu-item>
                <oui-action-menu-item
                    data-ng-if="$row.spamDetected"
                    data-external
                    data-href="{{:: $ctrl.linkToSpamTicket }}">
                    <span data-translate="exchange_tab_ACCOUNTS_menu_contactSupportForSpam"></span>
                </oui-action-menu-item>
                <oui-action-menu-divider data-ng-if="$ctrl.exchangeAccountOutlook.canHaveLicense($row)"></oui-action-menu-divider>
                <oui-action-menu-item
                    data-on-click="$ctrl.displayDialog('exchange/account/outlook/activate/account-outlook-activate', $row)"
                    data-ng-if="$ctrl.exchangeAccountOutlook.hasStatus($row, $ctrl.exchangeAccountOutlook.STATES.TO_ACTIVATE) && $ctrl.exchangeAccountOutlook.canHaveLicense($row)"
                    data-disabled="!$ctrl.exchangeStates.constructor.isOk($row)">
                    <span data-translate="exchange_tab_ACCOUNTS_menu_outlook_activate"></span>
                </oui-action-menu-item>
                <oui-action-menu-item
                    data-on-click="$ctrl.displayDialog('exchange/account/outlook/add-legacy/account-outlook-add-legacy', $row)"
                    data-ng-if="$ctrl.exchangeAccountOutlook.hasStatus($row, $ctrl.exchangeAccountOutlook.STATES.TO_ORDER) && $ctrl.exchangeAccountOutlook.canHaveLicense($row) && !$ctrl.serviceUsesAgora"
                    data-disabled="!$ctrl.exchangeStates.constructor.isOk($row)">
                    <span data-translate="exchange_tab_ACCOUNTS_menu_outlook_order"></span>
                </oui-action-menu-item>
                <oui-action-menu-item
                    data-on-click="$ctrl.displayDialog('exchange/account/outlook/order/exchange-account-outlook-order', $row)"
                    data-ng-if="$ctrl.exchangeAccountOutlook.hasStatus($row, $ctrl.exchangeAccountOutlook.STATES.TO_ORDER) && $ctrl.exchangeAccountOutlook.canHaveLicense($row) && $ctrl.serviceUsesAgora"
                    data-disabled="!$ctrl.exchangeStates.constructor.isOk($row)">
                    <span data-translate="exchange_accounts_home_item_orderOutlook"></span>
                </oui-action-menu-item>
                <oui-action-menu-item
                    data-on-click="$ctrl.displayDialog('exchange/account/outlook/account-outlook', $row)"
                    data-ng-if="($ctrl.exchangeAccountOutlook.hasStatus($row, $ctrl.exchangeAccountOutlook.STATES.ALREADY_ACTIVATED) || $ctrl.exchangeAccountOutlook.hasStatus($row, $ctrl.exchangeAccountOutlook.STATES.ALREADY_ORDERED)) && $ctrl.exchangeAccountOutlook.canHaveLicense($row)"
                    data-disabled="!$ctrl.exchangeStates.constructor.isOk($row)">
                    <span data-translate="exchange_tab_ACCOUNTS_menu_outlook_access"></span>
                </oui-action-menu-item>
                <oui-action-menu-item
                    data-on-click="$ctrl.displayDialog('exchange/account/outlook/deactivate/account-outlook-deactivate', $row)"
                    data-ng-if="$ctrl.exchangeAccountOutlook.hasStatus($row, $ctrl.exchangeAccountOutlook.STATES.ALREADY_ACTIVATED) && $ctrl.exchangeAccountOutlook.canHaveLicense($row)"
                    data-disabled="!$ctrl.exchangeStates.constructor.isOk($row)">
                    <span data-translate="exchange_tab_ACCOUNTS_menu_outlook_deactivate"></span>
                </oui-action-menu-item>
                <oui-action-menu-item
                    data-on-click="$ctrl.displayDialog('exchange/account/outlook/delete/account-outlook-delete', $row)"
                    data-ng-if="$ctrl.exchangeAccountOutlook.hasStatus($row, $ctrl.exchangeAccountOutlook.STATES.ALREADY_ORDERED) && $ctrl.exchangeAccountOutlook.canHaveLicense($row)"
                    data-disabled="!$ctrl.exchangeStates.constructor.isOk($row)">
                    <span data-translate="exchange_tab_ACCOUNTS_menu_outlook_delete"></span>
                </oui-action-menu-item>
                <oui-action-menu-divider></oui-action-menu-divider>
                <oui-action-menu-item
                    data-on-click="$ctrl.displayDialog('exchange/account/remove/account-remove', $row)"
                    data-ng-if="$ctrl.exchangeAccount.CAN_DO.DESTRUCTION_METHOD.RESETTING()"
                    data-disabled="!$ctrl.exchangeStates.constructor.isOk($row) || $row.domain === 'configureme.me'">
                    <span data-translate="exchange_tab_ACCOUNTS_menu_reset"></span>
                </oui-action-menu-item>
                <oui-action-menu-item
                    data-on-click="$ctrl.displayDialog('exchange/account/remove/account-remove', $row)"
                    data-ng-if="$ctrl.exchangeAccount.CAN_DO.DESTRUCTION_METHOD.DELETING()"
                    data-disabled="!$ctrl.exchangeStates.constructor.isOk($row)">
                    <span data-translate="exchange_tab_ACCOUNTS_menu_delete"></span>
                </oui-action-menu-item>
            </oui-action-menu>
        </oui-datagrid>
    </div>

    <!-- This fieldset is used to disable all buttons for the same conditions -->
    <fieldset
        class="col-md-3"
        data-ng-disabled="$ctrl.initialAccountRetrieval">
        <button
            class="oui-button oui-button_secondary w-100"
            type="button"
            data-translate="exchange_ACTION_export_accounts_office_attached_button"
            data-ng-click="$ctrl.navigation.setAction('exchange/office-attach/dialog/office-attach-dialog')"
            data-ng-if="$ctrl.userCanSubscribeToOfficeAttach"></button>
        <button
            class="oui-button oui-button_secondary w-100 mt-2"
            type="button"
            data-ng-click="$ctrl.displayAccountAddingView()"
            data-translate="exchange_ACTION_add_account_button"
            data-ng-if="$ctrl.exchangeAccount.CAN_DO.CREATION_METHOD.ADDING()"
            data-ng-disabled="!$ctrl.atLeastOneDomainIsAssociatedToCurrentExchangeService"></button>
        <button
            class="oui-button oui-button_secondary w-100 mt-2"
            type="button"
            data-translate="exchange_ACTION_order_accounts_button"
            data-ng-click="$ctrl.openDialogToOrderAccounts()"
            data-ng-if="$ctrl.exchangeAccount.CAN_DO.CREATION_METHOD.ORDERING()"
            data-ng-disabled="!$ctrl.atLeastOneDomainIsAssociatedToCurrentExchangeService"></button>
        <button
            class="oui-button oui-button_secondary w-100 mt-2"
            type="button"
            data-ng-click="$ctrl.navigation.setAction('exchange/account/export-as-csv/account-export-as-csv', { filterType : $ctrl.filterType, search : $ctrl.search.value, total : $ctrl.accounts.length, exchange : $ctrl.exchange, csvExportType: 'accounts'})"
            data-ng-disabled="$ctrl.accounts.count === 0 || $ctrl.accounts.list.messages.length > 0"
            data-translate="exchange_ACTION_export_accounts_button"></button>
    </fieldset>
</div>
