<div class="container-fluid px-0" data-ng-controller="ExchangeTabTasksCtrl as ctrl">
    <div class="loader text-center" data-ng-if="ctrl.tableLoading"></div>

    <div data-ng-if="!ctrl.tableLoading">
        <div class="alert alert-warning"
             role="alert"
             data-ng-if="ctrl.tasksList.list.messages.length > 0">
            <div>
                <strong data-i18n-static="exchange_tab_TASKS_warning"></strong>
                <span data-i18n-static="exchange_tab_TASKS_partial"></span>
            </div>
        </div>

        <div class="alert alert-info"
             role="alert"
             data-i18n-static="exchange_tab_TASKS_table_empty"
             data-ng-if="ctrl.tasksList.list.results.length === 0">
        </div>

        <div class="table-responsive">
            <table class="table table-hover table-striped" data-ng-if="ctrl.tasksList.list.results.length > 0">
                <thead>
                    <tr>
                        <th scope="col" data-i18n-static="exchange_tab_TASKS_table_function"></th>
                        <th scope="col" data-i18n-static="exchange_tab_TASKS_table_state" class="text-center min-width"></th>
                        <th scope="col" data-i18n-static="exchange_tab_TASKS_table_start_date" class="text-center"></th>
                        <th scope="col" data-i18n-static="exchange_tab_TASKS_table_finish_date" class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="task in (ctrl.tasksList.list.results | orderBy:'todoDate':true) track by $index">
                        <td data-ng-bind-html="tr('exchange_tab_TASKS_'+ task.function)"></td>
                        <td class="text-center">
                            <span class="fa fa-lg" title="{{tr('exchange_tab_TASKS_'+ task.status)}}"
                                  data-ng-class="{
                                    'fa-hourglass-half text-info': task.status === ctrl.states.doing || task.status === ctrl.states.todo,
                                    'fa-times-circle text-danger': task.status === ctrl.states.error,
                                    'fa-ban text-danger': task.status === ctrl.states.cancelled}"
                                  data-ng-if="task.status === ctrl.states.doing || task.status === ctrl.states.todo || task.status === ctrl.states.error || task.status === ctrl.states.cancelled"></span>
                            <span data-ng-bind="tr('exchange_tab_TASKS_'+ task.status)"
                                  data-ng-if="task.status === ctrl.states.done"></span>
                        </td>
                        <td data-ng-bind="::task.todoDate | date:'short'" class="text-center"></td>
                        <td data-ng-bind="::task.finishDate | date:'short'" class="text-center"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="clearfix"
         data-ng-show="!ctrl.tableLoading && ctrl.tasksList.list.results.length > 0"
         data-pagination-server-side="tasksTable"
         data-pagination-server-side-function="retrieveTasks"
         data-pagination-server-side-paginated-stuff="getTasksList()"
         data-pagination-server-side-table-loading="getTableLoading()">
    </div>
</div>
