<div class="text-center" data-ng-if="ctrl.isLoading">
    <oui-spinner data-size="l"></oui-spinner>
</div>

<div class="oui-message oui-message_error oui-message_l"
     role="alert"
     data-ng-if="ctrl.loadingExchangeError">
    <span class="oui-message_l-icon" aria-hidden="true"></span>
    <h1 class="oui-message__title" data-translate="exchange_dashboard_loading_error"></h1>
</div>

<div data-ng-if="!ctrl.isLoading && !ctrl.loadingExchangeError">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-9">
                <strong data-ng-bind="('exchange_offer_type_' + ctrl.exchange.offer) | translate" data-ng-if="!ctrl.services.exchangeServiceInfrastructure.is25g()"></strong>
                <strong data-ng-bind="'exchange_offer_type_25g' | translate" data-ng-if="ctrl.services.exchangeServiceInfrastructure.is25g()"></strong>
                <div class="mb-3" data-ng-show="!ctrl.editMode">
                    <div class="d-flex">
                        <h1 class="d-inline-block mb-0" data-ng-bind="ctrl.exchange.displayName"></h1>
                        <button class="btn btn-icon my-auto ml-2"
                                type="button"
                                data-ng-click="ctrl.editDisplayName()">
                            <span class="oui-icon oui-icon-pen_line oui-icon_small" aria-hidden="true"></span>
                            <span class="sr-only" data-translate="exchange_dashboard_display_name_edit"></span>
                        </button>
                    </div>
                    <span class="font-italic"
                          data-ng-bind="ctrl.exchange.domain"
                          data-ng-if="angular.isString(ctrl.exchange.domain) && ctrl.exchange.domain !== ctrl.exchange.displayName">
                    </span>
                </div>
                <form class="my-4"
                      name="ctrl.formExchangeDisplayName"
                      novalidate
                      data-ng-show="ctrl.editMode"
                      data-ng-submit="ctrl.submittingDisplayName()">
                    <div class="oui-input-group">
                        <input type="text"
                               class="oui-input"
                               id="displayNameField"
                               name="displayNameField"
                               minlength="4"
                               maxlength="50"
                               required
                               data-ng-model="ctrl.displayName">
                        <button class="oui-button oui-button_small-width"
                                type="submit"
                                aria-label="{{'exchange_dashboard_display_name_save' | translate}}"
                                data-ng-disabled="ctrl.formExchangeDisplayName.displayNameField.$invalid">
                            <span class="oui-icon oui-icon-success oui-icon_small" aria-hidden="true"></span>
                        </button>
                        <button class="oui-button oui-button_small-width"
                                type="button"
                                aria-label="{{'common_cancel' | translate}}"
                                data-ng-click="ctrl.resetDisplayName()">
                            <span class="oui-icon oui-icon-error oui-icon_small" aria-hidden="true"></span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-sm-3 d-flex">
                <div class="btn-group ml-auto mt-4">
                    <button class="oui-button oui-button_dropdown mb-0"
                            type="button"
                            aria-haspopup="true"
                            aria-expanded="false"
                            data-toggle="dropdown">
                        <span data-translate="common_actions"></span>
                        <span class="oui-icon oui-icon-chevron-down" aria-hidden="true"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li data-ng-if="ctrl.canSubscribeToSharepoint">
                            <i class="ovh-font ovh-font-cart" aria-hidden="true"></i>
                            <a data-ng-href="#/configuration/sharepoint/activate/{{ctrl.exchange.organization}}/{{ctrl.exchange.domain}}"
                               data-translate="exchange_tab_INFORMATIONS_order_sharepoint">
                            </a>
                        </li>
                        <li data-ng-if="!ctrl.canUserSubscribeToOfficeAttach && ctrl.worldPart === 'EU'">
                            <i class="ovh-font ovh-font-cart" aria-hidden="true"></i>
                            <a href="#/configuration/microsoft/office/license/order"
                               data-translate="exchange_tab_INFORMATIONS_order_office">
                            </a>
                        </li>
                        <li data-ng-if="ctrl.canUserSubscribeToOfficeAttach && ctrl.worldPart === 'EU'">
                            <button class="btn btn-link" type="button"
                                    data-translate="exchange_ACTION_export_accounts_office_attached_button"
                                    data-ng-click="ctrl.services.navigation.setAction('exchange/office-attach/dialog/office-attach-dialog', ctrl.exchange)">
                            </button>
                        </li>
                        <li class="dropdown-divider" data-ng-if="ctrl.canSubscribeToSharepoint || (ctrl.canUserSubscribeToOfficeAttach && ctrl.worldPart === 'EU') || (!ctrl.canUserSubscribeToOfficeAttach && ctrl.worldPart === 'EU')"></li>
                        <li>
                            <button class="btn btn-link" type="button"
                                    data-translate="exchange_action_license_history_button"
                                    data-ng-click="ctrl.services.navigation.setAction('exchange/header/license/service-license-history', ctrl.exchange)">
                            </button>
                        </li>
                        <li data-ng-if="ctrl.exchange.renewOptionAvailable">
                            <button class="btn btn-link"
                                    type="button"
                                    data-translate="exchange_update_billing_button_title"
                                    data-ng-click="ctrl.services.navigation.setAction('exchange/header/update-renew/update-renew', ctrl.exchange)">
                            </button>
                        </li>
                        <li class="dropdown-divider" data-ng-if="ctrl.exchange.deleteOptionAvailable">
                            <i class="oui-icon oui-icon-error_circle" aria-hidden="true"></i>
                            <button class="btn btn-link" type="button"
                                    data-ng-click="ctrl.services.navigation.setAction('exchange/header/remove/exchange-remove', ctrl.exchange)">
                                <span data-translate="exchange_resilitation_action_button"
                                      data-ng-if="!ctrl.exchange.renewType.deleteAtExpiration">
                                </span>
                                <span data-translate="exchange_resilitation_action_button_cancel"
                                      data-ng-if="ctrl.exchange.renewType.deleteAtExpiration">
                                </span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div data-ng-if="!ctrl.shouldOpenWizard || !ctrl.hasNoDomain">
        <div data-ng-controller="ExchangeTabsCtrl" data-ng-if="!ctrl.exchange.isExpired">
            <wuc-ovh-tabs tabs="tabs"
                      selected-tab="selectedTab"
                      change-tab="changeTab"
                      product="exchange"
                      menu="dropdownMenuItems"
                      tr="tr"></wuc-ovh-tabs>
            <div class="tab-content">
                <div class="alert alert-dismissible"
                     role="alert"
                     data-ng-class="ctrl.services.messaging.alertType"
                     data-ng-if="ctrl.services.messaging.message">
                    <button class="close"
                            type="button"
                            aria-label="'wizard_close' | translate"
                            data-dismiss="alert"
                            data-ng-click="resetMessages()">
                    </button>

                    <span data-ng-bind-html="ctrl.services.messaging.message"></span>

                    <div data-ng-show="angular.isArray(ctrl.services.messaging.messageDetails)"
                         data-linkedpopover="exchange/error-messages.popover.html"
                         data-linkedpopover-placement="bottom"
                         data-linkedpopover-remote="true"
                         data-linkedpopover-single="false">
                        <strong class="pointer underline"
                                data-translate="exchange_dashboard_message_see_more"
                                data-ng-if="ctrl.services.messaging.messageDetails.length > 0">
                        </strong>
                    </div>
                </div>

                <div class="tab-pane active" data-ng-include="selectedTab && 'exchange/' + kebabCase(selectedTab) + '/' + kebabCase(selectedTab) + '.html'"></div>
            </div>
        </div>

        <!-- Migration to Exchange 2016. Display a link to follow the status of the migration -->
        <div class="container-fluid px-5"
            data-ng-if="ctrl.exchange.serverDiagnostic.individual2010">
            <div class="alert alert-warning" role="alert">
                <a data-ng-href="http://migrationstatus.mail.ovh.net" target="_blank" title="{{'exchange_dashboard_2016_migration' | translate}} ({{'exchange_dashboard_new_window' | translate}})">
                    <span data-translate="exchange_dashboard_2016_migration"></span>
                    <span class="fa fa-external-link" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>

    <exchange-wizard-hosted-creation data-ng-if="ctrl.shouldOpenWizard && ctrl.hasNoDomain"></exchange-wizard-hosted-creation>

    <div class="modal fade currentAction" id="currentAction" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="modal-container" data-ng-include="ctrl.services.navigation.stepPath"></div>
            <div class="help4wizards" id="modal-help"></div>
        </div>
    </div>
</div>
