<div class="container-fluid px-0" data-ng-controller="ExchangeTabDiagnosticsCtrl as ctrl">
    <div class="text-center" data-ng-if="ctrl.loaders.accounts">
        <oui-spinner data-size="l"></oui-spinner>
    </div>

    <div class="row" data-ng-if="!ctrl.loaders.accounts">
        <div class="col-md-9">
            <div class="alert alert-warning"
                 role="alert"
                 data-i18n-static="exchange_DIAGNOSTICS_stay_on_page_while_diagnostic_is_running"
                 data-ng-if="ctrl.loaders.diagnosticInProgress">
            </div>

            <p data-i18n-static="exchange_DIAGNOSTICS_description"></p>

            <!-- REQUESTING_NEW_DIAGNOSTIC -->
            <form name="ctrl.diagnosticForm"
                  data-ng-if="ctrl.state === ctrl.states.REQUESTING_NEW_DIAGNOSTIC"
                  data-ng-submit="ctrl.launchDiagnostic()">

                <oui-field label="{{tr('exchange_DIAGNOSTICS_input_email')}}"
                           data-ng-if="!ctrl.accountIds.length || ctrl.accountIds.length > 100">
                    <input class="oui-input"
                           type="email"
                           id="exchange_DIAGNOSTICS_input_email"
                           name="exchangeDiagnosticEmail"
                           required
                           data-ng-model="ctrl.email">
                </oui-field>
                <oui-field label="{{tr('exchange_DIAGNOSTICS_input_email')}}"
                           data-ng-if="ctrl.accountIds.length > 0 && ctrl.accountIds.length <= 100">
                    <oui-select id="exchange_DIAGNOSTICS_select_select"
                                name="exchangeDiagnosticEmail"
                                model="ctrl.email"
                                data-title="{{tr('select_placeholder')}}"
                                placeholder="{{tr('select_placeholder')}}"
                                items="ctrl.accountIds"
                                required
                                data-ng-disabled="ctrl.loaders.diagnosticInProgress"
                                data-align="start">
                        <span ng-bind="$item"></span>
                    </oui-select>
                </oui-field>
                <oui-field label="{{tr('exchange_DIAGNOSTICS_input_password')}}">
                    <input class="oui-input"
                           type="password"
                           id="exchange_DIAGNOSTICS_input_password"
                           name="exchangeDiagnosticPassword"
                           required
                           data-ng-disabled="ctrl.loaders.diagnosticInProgress"
                           data-ng-model="ctrl.password">
                </oui-field>

                <button class="oui-button oui-button_primary oui-button_large-height"
                        type="submit"
                        data-ng-disabled="ctrl.diagnosticForm.$invalid || ctrl.loaders.diagnosticInProgress">
                    <span data-i18n-static="exchange_DIAGNOSTICS_button_launch_diagnostic"></span>
                </button>
                <span class="d-inline-block mt-3" data-ng-if="ctrl.loaders.diagnosticInProgress">
                    <oui-spinner data-size="s"></oui-spinner>
                    <span data-i18n-static="exchange_DIAGNOSTICS_button_diagnostic_in_progress"></span>
                </span>
            </form>

            <!-- DISPLAYING_DIAGNOSTIC_RESULT -->
            <div data-ng-if="ctrl.state === ctrl.states.DISPLAYING_DIAGNOSTIC_RESULT">
                <p>
                    <span data-i18n-static="exchange_DIAGNOSTICS_label_analyzed_email"></span>
                    <strong data-ng-bind="ctrl.email"></strong>
                </p>

                <p data-ng-if="ctrl.diagnosticGuideUrl && !ctrl.isAllOK()">
                    <span data-i18n-static="exchange_diagnostic_guide"></span>
                    <a target="_blank"
                       title="{{tr('exchange_diagnostic_guides_url')}} ({{tr('exchange_dashboard_new_window')}})"
                       data-ng-href="{{ctrl.diagnosticGuideUrl}}">
                        <span data-i18n-static="exchange_diagnostic_guides_url"></span>
                        <span class="fa fa-external-link" aria-hidden="true"></span>
                    </a>
                </p>

                <ul class="my-5 list-unstyled">
                    <li class="exchange-diagnostic-result-item"
                        data-ng-repeat="(key, value) in ctrl.diagnostic track by key"
                        data-ng-class="{'exchange-diagnostic-result-item-error': !ctrl.isOK(key)}"
                        data-ng-if="ctrl.diagnosticStatuses[key] != null">
                        <div class="d-flex"
                             data-ng-class="{'align-items-center': ctrl.isOK(key), 'align-items-start': !ctrl.isOK(key)}">
                            <span class="fa fa-3x" aria-hidden="true"
                                  data-ng-class="{'fa-check-circle-o text-success': ctrl.isOK(key), 'fa-exclamation-triangle text-warning': !ctrl.isOK(key) }"></span>
                            <div class="pl-5">
                                <strong data-ng-bind="ctrl.statusMessage(key)"></strong>
                                <div class="mt-2"
                                     data-ng-include="ctrl.detailedMessageTemplateUrl(key)"
                                     data-ng-show="!ctrl.isOK(key)">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <oui-form-actions
                    on-submit="ctrl.openSupportTicket()"
                    on-cancel="ctrl.requestNewDiagnostic()"
                    submit-text="{{ tr('exchange_DIAGNOSTICS_create_ticket') }}"
                    cancel-text="{{ tr('exchange_DIAGNOSTICS_button_new_diagnostic') }}">
                </oui-form-actions>
            </div>
        </div>
    </div>
</div>
