<div class="container-fluid px-0" data-ng-controller="ExchangeTabDiagnosticsCtrl as ctrl">
    <div class="row">
        <div class="col-md-9 col-lg-6">
            <p data-i18n-static="exchange_DIAGNOSTICS_description"></p>

            <!-- REQUESTING_NEW_DIAGNOSTIC -->
            <form class="form-horizontal mt-5"
                  name="ctrl.diagnosticForm"
                  data-ng-submit="ctrl.launchDiagnostic()"
                  data-ng-if="ctrl.state === ctrl.states.REQUESTING_NEW_DIAGNOSTIC">
                <div class="form-group">
                    <label class="control-label col-md-4 required"
                           for="exchange_DIAGNOSTICS_input_email"
                           data-i18n-static="exchange_DIAGNOSTICS_input_email"></label>
                    <div class="col-md-6">
                        <input type="email"
                               class="form-control"
                               name="exchangeDiagnosticEmail"
                               id="exchange_DIAGNOSTICS_input_email"
                               required
                               data-ng-model="ctrl.email">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4 required"
                           for="exchange_DIAGNOSTICS_input_password"
                           data-i18n-static="exchange_DIAGNOSTICS_input_password"></label>
                    <div class="col-md-6">
                        <input type="password"
                               class="form-control"
                               name="exchangeDiagnosticPassword"
                               id="exchange_DIAGNOSTICS_input_password"
                               required
                               data-ng-model="ctrl.password">
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-md-8 col-md-offset-4">
                        <button class="btn btn-primary "
                                type="submit"
                                data-ng-disabled="ctrl.diagnosticForm.$invalid || ctrl.loaders.diagnosticInProgress">
                            <span data-ng-if="!ctrl.loaders.diagnosticInProgress" data-i18n-static="exchange_DIAGNOSTICS_button_launch_diagnostic"></span>
                            <span data-ng-if="ctrl.loaders.diagnosticInProgress">
                                <span class="fa fa-spinner fa-spin mr-2" aria-hidden="true"></span>
                                <span data-i18n-static="exchange_DIAGNOSTICS_button_diagnostic_in_progress"></span>
                            </span>
                        </button>
                    </div>
                </div>

                <div class="alert alert-warning mt-5"
                     role="alert"
                     data-i18n-static="exchange_DIAGNOSTICS_stay_on_page_while_diagnostic_is_running"
                     data-ng-if="ctrl.loaders.diagnosticInProgress"></div>
            </form>

            <!-- DISPLAYING_DIAGNOSTIC_RESULT -->
            <div data-ng-if="ctrl.state === ctrl.states.DISPLAYING_DIAGNOSTIC_RESULT">
                <button class="btn btn-primary mt-4"
                        type="button"
                        data-ng-click="ctrl.requestNewDiagnostic()">
                    <span class="fa fa-plus-circle mr-2" aria-hidden="true"></span>
                    <span data-i18n-static="exchange_DIAGNOSTICS_button_new_diagnostic"></span>
                </button>

                <p class="mt-5">
                    <span data-i18n-static="exchange_DIAGNOSTICS_label_analyzed_email"></span>
                    <strong data-ng-bind="ctrl.email"></strong>
                </p>

                <p data-ng-if="ctrl.diagnosticGuideUrl && !ctrl.isAllOK()">
                    <span data-i18n-static="exchange_diagnostic_guide"></span>
                    <a data-ng-href="{{ctrl.diagnosticGuideUrl}}"
                       target="_blank"
                       title="{{tr('exchange_diagnostic_guides_url')}} ({{tr('exchange_dashboard_new_window')}})">
                        <span data-i18n-static="exchange_diagnostic_guides_url"></span>
                        <span class="fa fa-external-link" aria-hidden="true"></span>
                    </a>
                </p>

                <ul class="my-3 list-unstyled">
                    <li class="exchange-diagnostic-result-item"
                        data-ng-repeat="(key, value) in ctrl.diagnostic track by key"
                        data-ng-class="{'exchange-diagnostic-result-item-error': !ctrl.isOK(key)}"
                        data-ng-if="ctrl.diagnosticStatuses[key] != null">
                        <div class="d-flex"
                             data-ng-class="{'align-items-center': ctrl.isOK(key), 'align-items-start': !ctrl.isOK(key)}">
                            <span class="fa fa-3x" aria-hidden="true" data-ng-class="{'fa-check-circle-o text-success': ctrl.isOK(key), 'fa-exclamation-triangle text-warning': !ctrl.isOK(key) }"></span>
                            <div class="pl-5">
                                <strong data-ng-bind="ctrl.statusMessage(key)"></strong>
                                <div class="mt-2"
                                     data-ng-include="ctrl.detailedMessageTemplateUrl(key)"
                                     data-ng-show="!ctrl.isOK(key)">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

                <button class="btn btn-primary my-5"
                        type="button"
                        data-i18n-static="exchange_DIAGNOSTICS_create_ticket"
                        data-ng-click="ctrl.openSupportTicket()"></button>
            </div>
        </div>
    </div>
</div>
