<div data-ng-controller="ExchangeRemoveExchangeCtrl as ctrl">
    <div data-wizard
         data-wizard-bread-crumb
         data-wizard-confirm-button-text="getSubmitButtonLabel()"
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="submit"
         data-wizard-title="i18n.exchange_resilitation_action_title">

        <div data-wizard-step>

            <div data-ng-if="!ctrl.exchange.renewType.deleteAtExpiration">
                <p data-ng-bind-html="tr('exchange_resilitation_action_intro', [ctrl.exchange.displayName])"></p>

                <dl class="dl-horizontal"
                    data-ng-if="ctrl.services.exchangeVersion.isVersion(2010) || !ctrl.service.accountTypes.isHosted()">
                    <dt data-i18n-static="exchange_resilitation_action_expiration"></dt>
                    <dd data-ng-bind="ctrl.exchange.expiration | date:'mediumDate'"></dd>
                </dl>
                
               <div class="alert alert-warning"
                    role="alert"
                    data-i18n-static="exchange_resilitation_action_hosted_warning"
                    data-ng-if="ctrl.services.exchangeVersion.isAfter(2010) || ctrl.service.accountTypes.isHosted()"></div>
            </div>

            <div data-ng-if="ctrl.exchange.renewType.deleteAtExpiration">
                <p data-ng-bind-html="tr('exchange_resilitation_cancel_action_intro', ['<strong>' + ctrl.exchange.displayName + '</strong>'])"></p>

                <dl class="dl-horizontal"
                    data-ng-if="ctrl.services.exchangeVersion.isVersion(2010) || !ctrl.service.accountTypes.isHosted()">
                    <dt data-i18n-static="exchange_resilitation_action_expiration"></dt>
                    <dd data-ng-bind="ctrl.exchange.expiration | date:'mediumDate'"></dd>
                </dl>

                <div data-ng-if="ctrl.service.accountTypes.isHosted()">
                    <p class="font-weight-bold" data-ng-bind-html="tr('exchange_update_billing_periode_intro')"></p>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4"
                                   data-i18n-static="exchange_update_billing_periode_label"></label>
                            <div class="col-md-8">
                                <label class="radio-inline">
                                    <input type="radio" name="renewGroup"
                                           data-ng-model="ctrl.exchange.renewPeriod"
                                           data-ng-value="'MONTHLY'">
                                    <span data-ng-bind="tr('exchange_ACTION_order_accounts_step2_pay_type_monthly')"></span>
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="renewGroup"
                                           data-ng-model="ctrl.exchange.renewPeriod"
                                           data-ng-value="'YEARLY'">
                                    <span data-ng-bind="tr('exchange_ACTION_order_accounts_step2_pay_type_yearly')"></span>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div data-wizard-step>
            <div data-ng-if="!ctrl.exchange.renewType.deleteAtExpiration">
                <p data-ng-bind-html="tr('exchange_resilitation_action_confirmation', ['<strong>' + ctrl.exchange.displayName + '</strong>', '<strong>' + ctrl.exchange.accountsNumber + '</strong>'])"
                   data-ng-if="!ctrl.exchange.deleteAtExpiration"></p>
                <p data-ng-bind-html="tr('exchange_resilitation_cancel_action_confirmation', ['<strong>' + ctrl.exchange.displayName + '</strong>', '<strong>' + ctrl.exchange.accountsNumber + '</strong>'])"
                   data-ng-if="ctrl.exchange.deleteAtExpiration"></p>
            </div>

            <p data-ng-bind-html="tr('exchange_resilitation_cancel_action_confirmation', ['<strong>' + ctrl.exchange.displayName + '</strong>'])"
               data-ng-if="ctrl.exchange.renewType.deleteAtExpiration"></p>
        </div>
    </div>
</div>
