<div class="page-header mb-5">
    <h1 data-i18n-static="exchange_order_view_intro_title"></h1>
</div>
<div class="container-fluid px-5">
    <div data-ovh-alert="{{alerts.main}}"></div>

    <p data-i18n-static="exchange_order_view_intro_question"></p>

    <form name="exchangeOrderForm">
        <div class="mb-5">            

            <oui-radio text="{{tr('exchange_order_view_stand_alone_option')}}" 
                    model="ctrl.alreadyHasAnExchange" 
                    name="order-exchange" 
                    value="false">
            </oui-radio>

            <oui-radio text="{{tr('exchange_order_view_attached_option')}}" 
                    model="ctrl.alreadyHasAnExchange" 
                    name="order-exchange" 
                    value="true">
            </oui-radio>
        </div>

        <div class="oui-field mb-5">
            <label class="oui-field__label oui-label" for="sharepointAssociatedExchange"
                   data-i18n-static="sharepoint_activate_which_service_label"
                   data-ng-class="{'required': ctrl.alreadyHasAnExchange}"></label>
            <div class="oui-field__content">
                <div class="oui-select oui-select_inline mb-0">
                    <select class="oui-select__input" id="sharepointAssociatedExchange" name="sharepointAssociatedExchange"
                            data-ng-change="ctrl.selectAssociatedExchange()"
                            data-ng-disabled="!ctrl.alreadyHasAnExchange"
                            data-ng-model="ctrl.firstExchangeAccount"
                            data-ng-options="exchange.displayName for exchange in ctrl.exchanges | orderBy:'displayName' track by exchange.name + exchange.organization"
                            data-ng-required="ctrl.alreadyHasAnExchange">
                    </select>
                    <span class="oui-icon oui-icon-chevron-down" aria-hidden="true"></span>
                </div>
            </div>
            <oui-spinner data-ng-if="ctrl.exchanges == null"></oui-spinner>
        </div>

        <a class="oui-button oui-button_primary oui-button_large-height" target="{{ ctrl.alreadyHasAnExchange ? '_self' : '_blank'}}"
           title="{{ ctrl.alreadyHasAnExchange ? tr('exchange_order_view_button_attached_title', [ctrl.firstExchangeAccount.displayName]) : tr('exchange_order_view_button_stand_alone_title') }}{{ ctrl.alreadyHasAnExchange ? '' : '('+tr('core_new_window')+')'}}"
           data-i18n-static="exchange_order_view_button_label"
           data-ng-href="{{ctrl.getExchangeOrderUrl()}}"></a>
    </form>
</div>
