<div data-ng-controller="ExchangeToolboxSharedAccountsCtrl as ctrl" class="popover-menu">
    <button class="btn btn-link" type="button"
            data-i18n-static="exchange_tab_ACCOUNTS_popover_delegation"
            data-ng-click="ctrl.delegationSettings(account)"
            data-ng-disabled="ctrl.isDisabled(account)">
    </button>
    <button class="btn btn-link" type="button"
            data-i18n-static="exchange_tab_ACCOUNTS_popover_delete"
            data-ng-click="ctrl.deleteAccount(account)"
            data-ng-disabled="ctrl.isDisabled(account)">
    </button>
</div>
