<div data-ng-controller="ExchangeAccountLegacyHoldOnCtrl as ctrl">
    <div data-wizard
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="update"
         data-wizard-title="i18n.exchange_ACTION_legacy_hold_on_title">

        <div data-wizard-step
             data-wizard-step-valid="ctrl.needsUpdate()">

            <p data-ng-if="!ctrl.firstTime" data-ng-bind-html="tr('exchange_ACTION_legacy_hold_on_description', ctrl.account.primaryEmailAddress)"></p>
            <p data-ng-if="ctrl.firstTime" data-ng-bind-html="tr('exchange_ACTION_legacy_hold_on_first_time_description', ctrl.account.primaryEmailAddress)"></p>

            <div class="form-group ml-3">
                <label class="radio-inline">
                    <input type="radio" name="radio-legacy-hold-on" data-ng-model="ctrl.value" data-ng-value="true" />
                    <span data-i18n-static="exchange_tab_ACCOUNTS_archive_ok"></span>
                </label>
                <label class="radio-inline">
                    <input type="radio" name="radio-legacy-hold-on" data-ng-model="ctrl.value" data-ng-value="false">
                    <span data-i18n-static="exchange_tab_ACCOUNTS_archive_disabled"></span>
                </label>
            </div>

            <div class="form-group" data-ng-if="ctrl.value">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" name="unlimited" data-ng-model="ctrl.unlimited" />
                        <span data-i18n-static="exchange_ACTION_legacy_hold_on_form_unlimited"></span>
                    </span>
                    <input class="form-control" type="number" name="days" data-ng-model="ctrl.days" data-ng-disabled="ctrl.unlimited">
                    <span class="input-group-addon" data-i18n-static="exchange_ACTION_legacy_hold_on_form_days"></span>
                </div>
            </div>

            <div class="alert alert-warning mt-4"
                 role="alert"
                 data-ng-bind-html="tr('exchange_ACTION_legacy_hold_on_warning')"
                 data-ng-if="!ctrl.firstTime && !ctrl.value"></div>

            <div class="loader text-center" data-ng-if="!ctrl.account"></div>
        </div>
    </div>
</div>
