<div data-ng-controller="ExchangeAccountArchiveCtrl as ctrl">
    <div data-wizard
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="update"
         data-wizard-confirm-button-text="!ctrl.firstTime ? i18n.exchange_ACTION_archive_modify_button :
         ctrl.offer === 'DEDICATED' ? i18n.exchange_ACTION_archive_activate_button_private : i18n.exchange_ACTION_archive_activate_button_hosted"
         data-wizard-title="ctrl.firstTime ? i18n.exchange_ACTION_archive_activate_title : i18n.exchange_ACTION_archive_modify_title">

        <div data-wizard-step
             data-wizard-step-valid="ctrl.needsUpdate()">

            <p data-ng-if="!ctrl.firstTime" data-ng-bind-html="tr('exchange_ACTION_archive_description', ctrl.account.primaryEmailAddress)"></p>

            <div class="form-group ml-3" data-ng-if="!ctrl.firstTime">
                <label class="radio-inline">
                    <input type="radio" name="radio-archive" data-ng-model="ctrl.value" data-ng-value="true" />
                    <span data-i18n-static="exchange_tab_ACCOUNTS_archive_ok"></span>
                </label>
                <label class="radio-inline">
                    <input type="radio" name="radio-archive" data-ng-model="ctrl.value" data-ng-value="false">
                    <span data-i18n-static="exchange_tab_ACCOUNTS_archive_disabled"></span>
                </label>
            </div>

            <div class="alert alert-warning mt-4"
                 role="alert"
                 data-ng-bind-html="tr('exchange_ACTION_archive_delete_warning')"
                 data-ng-if="!ctrl.value && !ctrl.firstTime"></div>

            <p data-ng-if="ctrl.firstTime" data-ng-bind-html="tr('exchange_ACTION_archive_activate', ctrl.account.primaryEmailAddress)"></p>
            <p data-ng-if="ctrl.firstTime && ctrl.offer === 'DEDICATED'" data-ng-bind-html="tr('exchange_ACTION_archive_activate_description_private', ctrl.getDedicatedPrice())"></p>
            <p data-ng-if="ctrl.firstTime && ctrl.offer === 'HOSTED'" data-ng-bind-html="tr('exchange_ACTION_archive_activate_description_hosted', ctrl.getHostedPrice())"></p>

            <div class="loader text-center" data-ng-if="!ctrl.account"></div>
        </div>
    </div>
</div>
