<div class="alert alert-dismissible"
    data-ng-class="$ctrl.homepage.messaging.alertType"
    id="wizard-error-message">
        <button class="close"
            type="button"
            aria-label="tr('wizard_close')"
            data-ng-click="$ctrl.homepage.closeMessages()">
       </button>

       <p data-ng-bind-html="$ctrl.homepage.messaging.message"></p>

       <ul class="mb-1 ml-2" data-ng-if="$ctrl.homepage.messaging.messageDetails != null && $ctrl.homepage.messaging.messageDetails.length > 0">
            <li data-ng-repeat="message in $ctrl.homepage.messaging.messageDetails track by $index">
                <strong data-ng-if="message.id != null">{:: {message.id}}:</strong> {{:: message.message}}
            </li>
        </ul>
    </div>