<div data-ng-controller="ExchangeToolboxGroupsCtrl as ctrl" class="popover-menu">
    <button class="btn btn-link"
            type="button"
            data-i18n-static="exchange_tab_GROUPS_menu_settings"
            data-ng-click="ctrl.updateGroup(ml)"
            data-ng-disabled="!ctrl.services.exchangeStates.constructor.isOk(ml)">
    </button>
    <button class="btn btn-link"
            type="button"
            data-i18n-static="exchange_tab_GROUPS_menu_accounts"
            data-ng-click="ctrl.updateAccounts(ml)"
            data-ng-disabled="!ctrl.services.exchangeStates.constructor.isOk(ml)">
    </button>
    <button class="btn btn-link"
            type="button"
            data-i18n-static="exchange_tab_GROUPS_menu_delegation"
            data-ng-click="ctrl.groupDelegation(ml)"
            data-ng-disabled="!ctrl.services.exchangeStates.constructor.isOk(ml)">
    </button>
    <button class="btn btn-link"
            type="button"
            data-i18n-static="exchange_tab_GROUPS_menu_delete"
            data-ng-click="ctrl.deleteGroup(ml)"
            data-ng-disabled="!ctrl.services.exchangeStates.constructor.isOk(ml)">
    </button>
</div>
