<div data-ng-controller="ExchangeDisplayOutlookCtrl as ctrl">
    <div data-wizard
         data-wizard-bread-crumb
         data-wizard-confirm-button-text="i18n.exchange_ACTION_display_outlook_step2_close_button"
         data-wizard-on-cancel="exitWizard"
         data-wizard-on-finish="exitWizard"
         data-wizard-title="i18n.exchange_ACTION_display_outlook_title">

        <div data-wizard-step
             data-wizard-step-on-load="step1OnLoad"
             data-wizard-step-valid="isStep1Valid()">

            <div data-ng-if="ctrl.displayWaitMessage">
                <div class="alert alert-info mt-4"
                     role="alert"
                     data-i18n-static="exchange_ACTION_display_outlook_step1_wait_label">
                </div>
                <div data-ng-if="ctrl.outlook">
                    <p data-ng-bind-html="tr('exchange_ACTION_display_outlook_step2_intro_label', ['<strong>' + ctrl.selectedAccount.primaryEmailDisplayName + '</strong>'])"></p>
                    <dl class="dl-horizontal">
                        <dt data-i18n-static="exchange_ACTION_display_outlook_serial_label"></dt>
                        <dd data-ng-bind="ctrl.outlook.serial"></dd>
                        
                        <dt data-i18n-static="exchange_ACTION_display_outlook_url_label"></dt>
                        <dd>
                            <a data-ng-href="{{ctrl.outlook.url}}"
                               class="word-break"
                               target="_blank"
                               data-ng-bind="ctrl.outlook.url"></a>
                        </dd>
                    </dl>
                </div>
            </div>

            <div data-ng-if="!ctrl.displayWaitMessage">
                <p data-i18n-static="exchange_ACTION_display_outlook_step1_intro_label"></p>

                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-4 required"
                               for="addOutlookType"
                               data-i18n-static="exchange_ACTION_add_outlook_type_label"></label>
                        <div class="col-md-6">
                            <select class="form-control"
                                    id="addOutlookType" required
                                    data-ng-disabled="ctrl.versionsList === null"
                                    data-ng-model="ctrl.model.licenceVersion"
                                    data-ng-options="version as tr('exchange_ACTION_add_outlook_type_' + (version | uppercase)) for version in ctrl.versionsList track by version"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 required"
                               for="addOutlookLanguage"
                               data-i18n-static="exchange_ACTION_display_outlook_step1_language_label"></label>
                        <div class="col-md-6">
                            <select class="form-control"
                                    id="addOutlookLanguage"
                                    required
                                    data-ng-disabled="ctrl.languageList === null"
                                    data-ng-model="ctrl.model.languageIndex"
                                    data-ng-options="lang as tr('exchange_ACTION_display_outlook_language_' + (lang | uppercase)) disable when ctrl.isLanguageDisabled(lang) for lang in ctrl.languageList track by lang"></select>
                        </div>
                    </div>
                </div>

                <div class="loader text-center" data-ng-if="!ctrl.versionsList"></div>

                <div class="alert alert-warning mt-5"
                     role="alert"
                     data-ng-bind-html="i18n.exchange_ACTION_display_outlook_step1_extra_label"
                     data-ng-if="ctrl.versionsList">
                </div>
            </div>
        </div>

        <div data-wizard-step
             data-wizard-step-on-previous="previous"
             data-wizard-step-on-load="generateOutlookLicence">

            <div class="text-center" data-ng-if="!ctrl.outlook">
                <div class="loader" aria-hidden="true"></div>
                <span data-i18n-static="exchange_ACTION_display_outlook_step2_loading_label"></span>
            </div>

            <div data-ng-if="ctrl.outlook">
                <p data-ng-bind="tr('exchange_ACTION_display_outlook_step2_intro_label', [ctrl.selectedAccount.primaryEmailDisplayName])"></p>

                <dl class="dl-horizontal">
                    <dt data-i18n-static="exchange_ACTION_display_outlook_serial_label"></dt>
                    <dd data-ng-bind="ctrl.outlook.serial"></dd>

                    <dt data-i18n-static="exchange_ACTION_display_outlook_url_label"></dt>
                    <dd>
                        <a data-ng-href="{{ctrl.outlook.url}}"
                           class="word-break"
                           target="_blank"
                           data-ng-bind="ctrl.outlook.url"></a>
                    </dd>
                </dl>
                <p data-i18n-static="exchange_ACTION_display_outlook_step2_extra_label"></p>
            </div>
        </div>
    </div>
</div>
