<div class="container-fluid px-0" data-ng-controller="ExchangeDisclaimerCtrl as ctrlDisclaimer">

    <div class="alert alert-info" role="alert"
         data-translate="exchange_tab_DISCLAIMER_table_no_domain"
         data-ng-if="ctrlDisclaimer.addDomainMessageFlag">
    </div>

    <oui-datagrid data-rows-loader="ctrlDisclaimer.loadPaginated($config)">
        <oui-column data-title="tr('exchange_tab_DISCLAIMER_associated_domains')" data-property="domain.displayName"></oui-column>
        <oui-column data-title="tr('exchange_tab_DISCLAIMER_disclaimer_content')" data-property="strippedContent">
            <span data-ng-bind="$row.strippedContent | sliceContent:20"></span>
        </oui-column>
        <oui-column data-title="tr('exchange_tab_DISCLAIMER_disclaimer_outside_only')" data-property="outsideOnly">
            <span data-ng-if="$row.outsideOnly"
                  data-translate="exchange_tab_DISCLAIMER_disclaimer_outside_only_true"
                  data-uib-tooltip="{{i18n.exchange_tab_DISCLAIMER_disclaimer_outside_only_tooltip}}"></span>
            <span data-ng-if="!$row.outsideOnly"
                  data-translate="exchange_tab_DISCLAIMER_disclaimer_outside_only_false"
                  data-uib-tooltip="{{i18n.exchange_tab_DISCLAIMER_disclaimer_outside_only_tooltip}}"></span>
        </oui-column>
        <oui-column data-title="tr('exchange_tab_DISCLAIMER_state_header')">
            <span class="label label-success"
                  data-translate="exchange_tab_DISCLAIMER_state_doing_tooltip"
                  data-ng-if="$row.taskPendingId && $row.taskPendingId !== 0"></span>
            <span class="label label-success"
                  data-translate="exchange_tab_ACCOUNTS_state_ok"
                  data-ng-if="$row.taskPendingId === 0"></span>
            <span class="label label-warning"
                  data-translate="common_not_configurated"
                  data-ng-if="$row.emptySlotFlag"></span>
        </oui-column>

        <oui-action-menu data-align="end" data-compact>
            <oui-action-menu-item
                data-text="{{tr('exchange_tab_DISCLAIMER_menu_settings')}}"
                data-ng-click="ctrlDisclaimer.updateDisclaimer($row)"
                data-ng-if="!$row.taskPendingId && $row.emptySlotFlag === false"></oui-action-menu-item>
            <oui-action-menu-item
                data-text="{{tr('exchange_tab_DISCLAIMER_menu_delete')}}"
                data-ng-click="ctrlDisclaimer.deleteDisclaimer($row)"
                data-ng-if="!$row.taskPendingId && $row.emptySlotFlag === false"></oui-action-menu-item>
            <oui-action-menu-item
                data-text="{{tr('common_configure')}}"
                data-ng-click="ctrlDisclaimer.addDisclaimer($row)"
                data-ng-if="!$row.taskPendingId && $row.emptySlotFlag"></oui-action-menu-item>
        </oui-action-menu>
    </oui-datagrid>
</div>
