<div data-ng-controller="ExchangeGroupAccountsCtrl as ctrl">
    <div data-wizard
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="updateAccounts"
         data-wizard-title="i18n.exchange_GROUPS_accounts_title">

        <div data-wizard-step>

            <p data-i18n-static="exchange_GROUPS_accounts_step1_intro"></p>

            <div class="alert alert-warning" role="alert"
                 data-ng-if="!ctrl.loading && ctrl.accountsList && ctrl.accountsList.list.messages.length > 0">
                <div>
                    <strong data-i18n-static="exchange_tab_ACCOUNTS_warning"></strong>
                    <span data-i18n-static="exchange_tab_ACCOUNTS_partial"></span>
                </div>
            </div>

            <form class="form-inline d-md-flex justify-content-md-end mb-3">
                <div class="form-group">
                    <label class="sr-only" for="accountSearch"
                           data-i18n-static="common_search"></label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="accountSearch" maxlength="256" placeholder="{{::i18n.exchange_tab_ACCOUNTS_table_email}}"
                               data-ng-change="ctrl.onSearch()"
                               data-ng-disabled="ctrl.loading"
                               data-ng-model="ctrl.search.value"
                               data-ng-model-options="{ debounce: 800 }">
                        <div class="input-group-btn" data-ng-if="ctrl.search.value">
                            <button class="btn btn-default" type="button" aria-label="{{i18n.common_cancel}}"
                                    data-ng-click="ctrl.resetSearch()"
                                    data-ng-disabled="ctrl.loading">
                                <span class="fa fa-times" aria-hidden="true"></span>
                            </button>
                        </div>
                        <span class="input-group-addon" data-ng-if="!ctrl.search.value">
                            <span class="fa fa-search" aria-hidden="true"></span>
                        </span>
                    </div>
                </div>
            </form>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col" data-i18n-static="exchange_GROUPS_delegation_step1_email_header"></th>
                        <th class="text-center" scope="col" data-i18n-static="exchange_tab_GROUPS_all_table_manager"></th>
                        <th class="text-center" scope="col" data-i18n-static="exchange_tab_GROUPS_all_table_user"></th>
                    </tr>
                </thead>

                <tbody data-ng-if="ctrl.loading">
                    <tr>
                        <td class="loader text-center" colspan="3"></td>
                    </tr>
                </tbody>

                <tbody data-ng-if="!ctrl.loading && ctrl.accountsList.list.results.length === 0 && ctrl.accountsList.list.messages.length === 0">
                    <tr>
                        <td class="text-center" colspan="3">
                            <span data-i18n-static="exchange_tab_GROUPS_table_empty"
                                  data-ng-if="!ctrl.search.value"></span>
                            <span data-i18n-static="exchange_tab_GROUPS_table_empty_search"
                                  data-ng-if="ctrl.search.value"></span>
                        </td>
                    </tr>
                </tbody>

                <tbody data-ng-if="!ctrl.loading && (ctrl.accountsList.list.results.length > 0 || ctrl.accountsList.list.messages.length > 0)">
                    <tr	data-ng-repeat="account in (ctrl.accountsList.list.results | orderBy:'formattedAddress':false) track by $index">
                        <th class="word-break" scope="row"
                            data-ng-bind="account.displayAddress | sliceContent: 150"></th>
                        <td class="text-center">
                            <label data-ng-if="account.type === 'ACCOUNT'">
                                <input type="checkbox"
                                       data-ng-model="account.manager">
                            </label>

                            <label data-ng-if="account.type === 'CONTACT'"
                                   data-uib-tooltip="{{i18n.exchange_GROUPS_add_group_contact_as_manager_info}}">
                                <input type="checkbox" disabled/>
                            </label>
                        </td>
                        <td class="text-center">
                            <label>
                                <input type="checkbox"
                                       data-ng-model="account.member">
                            </label>
                        </td>
                    </tr>

                    <tr data-ng-repeat="account in (ctrl.accountsList.list.messages | orderBy:'id':false) track by $index">
                        <td colspan="3" data-uib-tooltip="{{tr('exchange_GROUPS_partial_account', [account.message])}}">
                            <span class="fa fa-exclamation-triangle mr-2" aria-hidden="true"></span>
                            <span data-ng-bind="account.id"></span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="clearfix"
                 data-pagination-server-side="accountsByGroupTable"
                 data-pagination-server-side-function="getAccounts"
                 data-pagination-server-side-paginated-stuff="getAccountsList()"
                 data-pagination-server-side-table-loading="getLoading()">
            </div>

            <div class="alert alert-info mt-5" role="alert"
                 data-i18n-static="exchange_GROUPS_add_group_contact_as_manager_info">
            </div>
        </div>
    </div>
</div>
