<div class="popover-menu" data-ng-controller="ExchangeToolboxDisclaimerCtrl as ctrl">
    <button class="btn btn-link w-100 text-left" type="button"
            data-i18n-static="exchange_tab_DISCLAIMER_menu_settings"
            data-ng-click="ctrl.updateDisclaimer(disclaimer)"
            data-ng-disaled="disclaimer.taskPendingId">
    </button>
    <button class="btn btn-link w-100 text-left" type="button"
            data-i18n-static="exchange_tab_DISCLAIMER_menu_delete"
            data-ng-click="ctrl.deleteDisclaimer(disclaimer)"
            data-ng-disaled="disclaimer.taskPendingId">
    </button>
</div>
