<div data-ng-controller="ExchangeTabMembersByGroupsCtrl as ctrl">
    <button class="oui-button oui-button_link oui-button_icon-left" type="button"
            data-ng-click="ctrl.hide()">
        <span class="oui-icon oui-icon-chevron-left" aria-hidden="true"></span>
        <span data-i18n-static="common_back"></span>
    </button>
    <h2 data-ng-bind-html="tr('exchange_GROUPS_member_intro', ctrl.services.navigation.selectedGroup.mailingListDisplayName)"></h2>

    <oui-spinner data-size="l" data-ng-if="ctrl.loading"></oui-spinner>

    <div class="alert alert-info" role="alert"
         data-i18n-static="exchange_GROUPS_member_table_empty"
         data-ng-if="!ctrl.loading && (ctrl.membersList.list.results | filter:{member:true}).length === 0">
    </div>

    <div class="table-responsive"
         data-ng-if="!ctrl.loading && ((ctrl.membersList.list.results | filter:{member:true}).length > 0 || ctrl.membersList.list.messages.length > 0)">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" data-i18n-static="exchange_tab_GROUPS_all_table_user"></th>
                    <th class="min-width" scope="col"></th>
                </tr>
            </thead>

            <tbody>
                <tr data-ng-repeat="member in (ctrl.membersList.list.results | filter: {member:true}) track by $index">
                    <td data-ng-bind="member.displayAddress"></td>
                    <td class="text-center">
                        <button class="btn btn-icon" type="button" aria-label="{{i18n.exchange_GROUPS_member_delete_tooltip}}"
                                data-ng-click="ctrl.removeMember(member)"
                                data-uib-tooltip="{{i18n.exchange_GROUPS_member_delete_tooltip}}"
                                data-tooltip-append-to-body="true"
                                data-tooltip-placement="left">
                            <span class="oui-icon oui-icon-trash_line oui-icon_small" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
                <tr data-ng-repeat="ml in (ctrl.membersList.list.messages | orderBy:'id':false) track by $index"
                    data-ng-if="ctrl.membersList.list.messages.length > 0">
                    <td colspan="2">
                        <span class="fa fa-exclamation-triangle mr-2" aria-hidden="true"></span>
                        <span data-ng-bind="ml.id"
                              data-uib-tooltip="{{tr('exchange_GROUPS_partial_account', [ml.message])}}"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="clearfix"
         data-ng-show="!ctrl.loading && ((ctrl.membersList.list.results | filter:{member:true}).length > 0 || ctrl.membersList.list.messages.length > 0)"
         data-pagination-server-side="membersTable"
         data-pagination-server-side-function="getMembersByGroup"
         data-pagination-server-side-paginated-stuff="getMembersList()"
         data-pagination-server-side-table-loading="getLoading()">
    </div>
</div>
