<div>
    <oui-back-button
        data-title="Ajouter un compte"
        data-on-click="$ctrl.hide()"></oui-back-button>

    <div class="text-center">
        <oui-spinner
            data-ng-if="$ctrl.isFetchingCreationOptions"
            data-size="l"></oui-spinner>
    </div>

    <form
        data-ng-if="!ctrl.isFetchingCreationOptions"
        name="newAccountForm">
        <div class="mb-3">
            You can order here an Exchange or Email Pro account to add to your Dedicated Offer. It will be added to your monthly bill.
        </div>

        <div class="oui-field">
            <label class="oui-field__label oui-label" for="os">Type de compte</label>
            <div class="oui-field__control oui-field__control_m">
                <label class="oui-select d-inline-block w-75">
                    <select id="os" name="os" ng-model="os" class="oui-select__input">
                        <option value="freebsd">FreeBSD</option>
                        <option value="linux">Linux</option>
                        <option value="osx">OSX</option>
                        <option value="windows">Windows</option>
                    </select>
                    <i class="oui-icon oui-icon-chevron-down" aria-hidden="true"></i>
                </label>
                <i class="oui-icon oui-icon-help_circle oui-tooltip__trigger ml-4 mt-3" aria-hidden="true" oui-tooltip="Button tooltip" aria-label="Button tooltip"></i>
            </div>
        </div>

        <div class="form-group">
            <label
                class="control-label"
                for="accountToAddLogin">Adresse e-mail</label>
            <div class="input-group w-50">
                <input
                    type="text"
                    class="form-control"
                    id="login"
                    maxlength="256"
                    name="login"
                    required>
                <span class="input-group-addon">@</span>
                <select
                    class="form-control"
                    data-ng-model="$ctrl.newAccount.domainName"
                    data-ng-options="domain.displayName for domain in $ctrl.accountCreationOptions.availableDomains | orderBy:'formattedName' track by domain.displayName"
                    required></select>
            </div>
        </div>

        <oui-field
            data-label="Prénom (optionnel)"
            data-size="m">
            <input
                class="oui-input"
                type="text"
                id="firstName"
                name="firstName"
                data-ng-model="$ctrl.newAccount.firstName">
        </oui-field>

        <oui-field
            label="Nom (optionnel)"
            data-size="m">
            <input
                class="oui-input"
                type="text"
                id="lastName"
                name="lastName"
                data-ng-model="$ctrl.newAccount.lastName">
        </oui-field>

        <oui-field
            label="Nom d'affichage (optionnel)"
            data-size="m">
            <input
                class="oui-input"
                type="text"
                id="displayName"
                name="displayName"
                data-ng-model="$ctrl.newAccount.displayName">
        </oui-field>

        <div class="oui-field">
            <label for="text-5" class="oui-field__label oui-label">Mot de passe</label>
            <div class="oui-field__control oui-field__control_m">
                <div class="mb-0 oui-input-group oui-input-group_button">
                    <input
                        class="oui-input"
                        type="password"
                        id="password"
                        name="password"
                        data-ng-model="$ctrl.newAccount.password">
                    <button class="oui-button" type="button" aria-label="Show password">
                        <span class="oui-icon oui-icon-eye"></span>
                    </button>
                </div>
            </div>
        </div>

        <oui-field
            label="Confirmation"
            data-size="m">
            <input
                class="oui-input"
                type="password"
                id="passwordConfirmation"
                name="passwordConfirmation"
                data-ng-model="$ctrl.newAccount.passwordConfirmation">
        </oui-field>

        <oui-field data-size="xl">
            <oui-checkbox
                name="acceptsConditions"
                text="Je reconnais qu'OVH procédera à l’exécution immédiate de la prestation à compter de la validation de ma commande et à ce titre je renonce expressément à exercer mon droit de rétractation conformément aux dispositions de l’article L.121-21-8 du code de la consommation."></oui-checkbox>
        </oui-field>

        <button type="submit" class="oui-button oui-button_primary">Commander</button>
    </form>
</div>
