<div data-ng-controller="ExchangeAddAccountCtrl as ctrl">
    <div data-wizard
         data-wizard-bread-crumb
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="addExchangeAccount"
         data-wizard-title="i18n.exchange_ACTION_add_account_title">

        <div data-wizard-step
             data-wizard-step-valid="accountIsValid()">

            <oui-spinner data-ng-if="ctrl.loaders.accountOptions"></oui-spinner>

            <form name="accountToAddForm"
                  data-ng-if="!ctrl.loaders.accountOptions">
                <div class="form-group"
                     data-ng-class="{'has-error': ctrl.takenEmailError}">
                    <label class="control-label required" for="accountToAddLogin"
                           data-i18n-static="exchange_ACTION_add_account_step1_email_label"></label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="accountToAddLogin" maxlength="256" name="accountToAddLogin" required
                               data-ng-change="ctrl.checkTakenEmails()"
                               data-ng-model="ctrl.accountToAdd.login"
                               data-ng-pattern="/^[-_a-zA-Z0-9]+((\.|\+)[-_a-zA-Z0-9]+)*$/">
                        <span class="input-group-addon">@</span>
                        <select class="form-control" required
                                data-ng-change="ctrl.checkTakenEmails()"
                                data-ng-disabled="ctrl.newAccountOptions === null"
                                data-ng-model="ctrl.accountToAdd.completeDomain"
                                data-ng-options="domain.displayName for domain in ctrl.newAccountOptions.availableDomains | orderBy:'formattedName'">
                        </select>
                    </div>
                    <small class="help-block"
                           data-i18n-static="exchange_tab_ALIAS_taken_error_message"
                           data-ng-if="ctrl.takenEmailError"></small>
                </div>

                <div class="form-group"
                     data-ng-if="ctrl.services.exchangeVersion.isVersion(2010) && !ctrl.services.accountTypes.isHosted()">
                    <label class="control-label" for="accountToAddSameAccountName"
                           data-i18n-static="exchange_ACTION_update_account_step1_exchange_SAMA_label"></label>
                    <input type="text" class="form-control" id="accountToAddSameAccountName" maxlength="256" name="accountToAddSameAccountName"
                           data-ng-model="ctrl.accountToAdd.samaccountName">
                </div>

                <div class="form-group"
                     data-ng-if="ctrl.newAccountOptions.availableTypes.length > 1">
                    <label class="control-label required" for="accountToAddAvailableTypes"
                           data-i18n-static="exchange_ACTION_update_account_step1_type_label"></label>
                    <div class="oui-select">
                        <select class="oui-select__input" name="accountToAddAvailableTypes" id="accountToAddAvailableTypes" required
                                data-ng-model="ctrl.accountToAdd.accountLicense"
                                data-ng-options="tr('exchange_ACTION_update_account_step1_type_' + type) for type in ctrl.newAccountOptions.availableTypes">
                        </select>
                        <span class="oui-icon oui-icon-chevron-down" aria-hidden="true"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="accountToAddFirstName"
                           data-i18n-static="exchange_ACTION_add_account_step1_first_name_label"></label>
                    <input type="text" class="form-control" id="accountToAddFirstName" maxlength="256" name="accountToAddFirstName"
                           data-ng-change="ctrl.makeDisplayName()"
                           data-ng-model="ctrl.accountToAdd.firstName">
                </div>

                <div class="form-group">
                    <label class="control-label" for="accountToAddLastName"
                           data-i18n-static="exchange_ACTION_add_account_step1_last_name_label"></label>
                    <input type="text" class="form-control" id="accountToAddLastName" maxlength="256" name="accountToAddLastName"
                           data-ng-change="ctrl.makeDisplayName()"
                           data-ng-model="ctrl.accountToAdd.lastName">
                </div>

                <div class="form-group">
                    <label class="control-label" for="accountToAddDisplayName"
                           data-i18n-static="exchange_ACTION_add_account_step1_display_name_label"></label>
                    <input type="text" class="form-control" id="accountToAddDisplayName" maxlength="256" name="accountToAddDisplayName"
                           data-ng-change="ctrl.setPasswordsFlag(ctrl.accountToAdd)"
                           data-ng-model="ctrl.accountToAdd.displayName">
                </div>

                <div class="form-group"
                     data-ng-class="{'has-error': ctrl.simplePasswordFlag || ctrl.containsNameFlag || ctrl.containsSamAccountNameFlag}">
                    <label class="control-label required" for="accountToAddPassword"
                           data-i18n-static="exchange_ACTION_add_account_step1_password_label"></label>
                    <input type="password" autocomplete="off" class="form-control" id="accountToAddPassword" name="accountToAddPassword" required
                           data-ng-change="ctrl.setPasswordsFlag(ctrl.accountToAdd)"
                           data-ng-model="ctrl.accountToAdd.password"
                           data-uib-tooltip="{{ctrl.passwordTooltip}}">
                    <small class="help-block"
                           data-i18n-static="exchange_ACTION_update_account_step1_password_weak"
                           data-ng-if="ctrl.simplePasswordFlag"></small>
                    <small class="help-block"
                           data-i18n-static="exchange_ACTION_update_account_step1_password_contains_name"
                           data-ng-if="ctrl.containsNameFlag"></small>
                    <small class="help-block"
                           data-ng-bind="ctrl.containsSamAccountNameLabel"
                           data-ng-if="ctrl.containsSamAccountNameFlag"></small>
                </div>

                <div class="form-group"
                     data-ng-class="{'has-error': ctrl.differentPasswordFlag || ctrl.showConfirmPwdError}">
                    <label class="control-label required" for="accountToAddConfirm"
                           data-i18n-static="exchange_ACTION_add_account_step1_password_confirmation_label"></label>
                    <input type="password" autocomplete="off" class="form-control" id="accountToAddConfirm" name="accountToAddConfirm" required
                           data-ng-change="ctrl.setPasswordsFlag(ctrl.accountToAdd)"
                           data-ng-model="ctrl.accountToAdd.passwordConfirmation"
                           data-uib-tooltip="{{ctrl.passwordTooltip}}">
                    <small class="help-block"
                           data-i18n-static="exchange_ACTION_update_account_step1_password_different"
                           data-ng-if="ctrl.differentPasswordFlag"></small>
                    <small class="help-block"
                           data-i18n-static="exchange_tab_ACCOUNTS_pwderror"
                           data-ng-if="ctrl.showConfirmPwdError"></small>
                </div>

                <oui-checkbox id="legalWarning"
                    model="ctrl.valid.legalWarning"
                    text="{{::tr('exchange_ACTION_add_account_legal_warning')}}">
                </oui-checkbox>
            </form>

            <div data-wizard-step-help>
                <h3 data-i18n-static="exchange_ACTION_add_account_helpwizard_title"></h3>
                <h4 data-i18n-static="exchange_ACTION_add_account_helpwizard_password_title"></h4>
                <p data-ng-show="getNewAccountOptions().passwordComplexityEnabled"
                   data-ng-bind-html="tr('exchange_ACTION_add_account_helpwizard_password', [getNewAccountOptions().minPasswordLength])"></p>
                <p data-ng-show="!getNewAccountOptions().passwordComplexityEnabled"
                   data-ng-bind-html="tr('exchange_ACTION_add_account_helpwizard_password_simple', [getNewAccountOptions().minPasswordLength])"></p>
            </div>
        </div>

        <div data-wizard-step>
            <p data-i18n-static="exchange_ACTION_add_account_step2_confirmation_intro"></p>
            <dl class="dl-horizontal dl-lg">
                <dt data-i18n-static="exchange_ACTION_add_account_step2_email_label"></dt>
                <dd data-ng-bind-template="{{ctrl.accountToAdd.login.toLowerCase()}}@{{ctrl.accountToAdd.completeDomain.displayName}}"></dd>

                <dt data-ng-if="ctrl.newAccountOptions.availableTypes.length > 1" data-i18n-static="exchange_ACTION_update_account_step1_type_label"></dt>
                <dd data-ng-if="ctrl.newAccountOptions.availableTypes.length > 1" data-ng-bind="tr('exchange_ACTION_update_account_step1_type_' + ctrl.accountToAdd.accountLicense)"></dd>

                <dt data-ng-if="ctrl.accountToAdd.firstName" data-i18n-static="exchange_ACTION_add_account_step2_first_name_label"></dt>
                <dd data-ng-if="ctrl.accountToAdd.firstName" data-ng-bind="ctrl.accountToAdd.firstName | sliceContent: 150" class="word-break"></dd>

                <dt data-ng-if="ctrl.accountToAdd.lastName" data-i18n-static="exchange_ACTION_add_account_step2_last_name_label"></dt>
                <dd data-ng-if="ctrl.accountToAdd.lastName" data-ng-bind="ctrl.accountToAdd.lastName | sliceContent: 150" class="word-break"></dd>

                <dt data-ng-if="ctrl.accountToAdd.displayName" data-i18n-static="exchange_ACTION_add_account_step2_display_name_label"></dt>
                <dd data-ng-if="ctrl.accountToAdd.displayName" data-ng-bind="ctrl.accountToAdd.displayName | sliceContent: 150" class="word-break"></dd>
            </dl>
        </div>
    </div>
</div>
